{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Free AI Summary Generator - Summarize Text in One Click</title>
<meta name=”description” content=”Experience the power of AI Summary Generator, your go-to text summarizer that uses advanced algorithms and NLP to identify main points and generate relevant summaries. Try Now!
” />

    <link rel="stylesheet" href="{% static 'front/assets/css/style.css' %}?v1.5.0">
</head>

<body class="nk-body " data-menu-collapse="lg">
    <div class="nk-app-root ">
        <header class="nk-header has-shape">
            <div
              class="nk-shape bg-shape-blur-c ms-n20p mt-n20p start-50 translate-middle-x"
            ></div>
            <div
              class="nk-header-main nk-menu-main will-shrink has-border ignore-mask"
            >
              <div class="container">
                <div class="nk-header-wrap">
                  <div class="nk-header-logo">
                    <a href="index.html" class="logo-link">
                      <div class="logo-wrap">
                        <img
                          class="logo-img logo-light"
                          src="images/logo-green.png"
                          srcset="images/logo-green2x.png 2x"
                          alt=""
                        />
                        <img
                          class="logo-img logo-dark"
                          src="images/logo-green-dark.png"
                          srcset="images/logo-green-dark2x.png 2x"
                          alt=""
                        />
                      </div>
                    </a>
                  </div>
                  <!-- .nk-header-logo -->
                  <div class="nk-header-toggle">
                    <button class="dark-mode-toggle">
                      <em class="off icon ni ni-sun-fill"></em>
                      <em class="on icon ni ni-moon-fill"></em>
                    </button>
                    <button class="btn btn-light btn-icon header-menu-toggle">
                      <em class="icon ni ni-menu"></em>
                    </button>
                  </div>
                  <nav class="nk-header-menu nk-menu">
                    <ul class="nk-menu-list mx-auto">
                    
                      <li class="nk-menu-item">
                        <a href="{% url 'home' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Home</span>
                        </a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="{% url 'pricing' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Pricing</span>
                        </a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="{% url 'blog' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Blog</span>
                        </a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="{% url 'about' %}" class="nk-menu-link">
                          <span class="nk-menu-text">About</span>
                        </a>
                      </li>
                      {% if request.user.is_authenticated %}
                        <li class="nk-menu-item">
                          <a href="{% url 'account_logout' %}" class="nk-menu-link">
                            <span class="nk-menu-text">Logout</span>
                          </a>
                        </li>
                      {% else %}
                      <li class="nk-menu-item">
                        <a href="{% url 'account_login' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Login</span>
                        </a>
                      </li>
    
                      <li class="nk-menu-item">
                        <a href="{% url 'account_signup' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Sign Up</span>
                        </a>
                      </li>
                      {% endif%}
                    </ul>
                    <!-- .nk-menu-list -->
                    <div class="mx-2 d-none d-lg-block">
                      <button class="dark-mode-toggle">
                        <em class="off icon ni ni-sun-fill"></em>
                        <em class="on icon ni ni-moon-fill"></em>
                      </button>
                    </div>
                    <ul class="nk-menu-buttons flex-lg-row-reverse">
                      <li><a href="#" class="btn btn-primary">Get Started</a></li>
                      <li class="dropdown">
                        <a
                          class="link link-base fw-medium dropdown-toggle"
                          href="#"
                          data-bs-toggle="dropdown"
                          data-bs-offset="0, 12"
                        >
                          En (US)
                        </a>
                        <ul
                          class="dropdown-menu dropdown-menu-end shadow-sm border-0"
                        >
                          <li>
                            <a class="dropdown-item link-base py-2 px-4" href="#"
                              >Albanian (SQ)</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item link-base py-2 px-4" href="#"
                              >Chinese (ZS)</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item link-base py-2 px-4" href="#"
                              >French (FR)</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <!-- .nk-menu-buttons -->
                  </nav>
                  <!-- .nk-header-menu -->
                </div>
                <!-- .nk-header-wrap -->
              </div>
              <!-- .container -->
            </div>
            <!-- .nk-hero -->
        </header>
        <main class="nk-pages">
            <section class="section section-bottom-0 has-shape has-mask">
                <div class="nk-shape bg-shape-blur-m mt-8 start-50 top-0 translate-middle-x"></div>
                <div class="nk-shape bg-shape-blur-m mt-8 start-50 top-50 translate-middle-x"></div>
                <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
                <div class="container">
                    <div class="section-head">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-9 col-xl-7 col-xxl-6">
                                <h6 class="overline-title text-primary">Blog</h6>
                                <h1 class="title">News, tips and resources about copygenAI</h1>
                                
                            </div>
                        </div>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs">
                            {% for blog in blogs %}
                            <div class="col-md-6 col-xl-4">
                                <div class="card border-0 shadow-tiny rounded-4">
                                    <div class="card-body p-4">
                                        <a class="d-block" href="{{ blog.slug }}"><img style="width: 740px; height: 220px !important; object-fit: contain;" src="{{blog.image.url}}"></a>
                                        <h3><a href="{{ blog.slug }}" class="link-dark text-center line-clamp-2">{{ blog.title }}</a></h3>
                                        <div class="d-flex pt-4">
                                            <div class="media media-lg media-middle media-lg rounded-pill mt-1">
                                                <img src="{% static 'front/images/avatar/author/sm-d.jpg' %}" alt="">
                                            </div>
                                            <div class="media-info ms-3">
                                                <ul class="list list-row gx-1 pt-3">
                                                    <li>
                                                        <div class="sub-text">{{ blog.date|date:"M d, Y" }}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .card -->
                            </div>
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                    <div class="section-actions text-center">
                        <ul class="btn-list btn-list-inline g-gs">
                          {% if blogs.has_previous %}
                            <li><a href="?page={{ blogs.previous_page_number }}" class="btn btn-primary btn-soft btn-lg"><em class="icon ni ni-arrow-long-left"></em><span>Previous</span></a></li>
                          {% else %}
                            <li><a href="" class="btn btn-primary btn-soft btn-lg"><em class="icon ni ni-arrow-long-left"></em><span>Previous</span></a></li>
                          {% endif %}
                          {% if blogs.has_next %}
                            <li><a href="?page={{ blogs.next_page_number }}" class="btn btn-primary btn-lg"><span>Next</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                          {% else %}
                            <li><a href="" class="btn btn-primary btn-lg"><span>Next</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                          {% endif %}
                        </ul>
                    </div><!-- .section-actions -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section pb-6 section-bottom-0">
              <div class="container">
                  <div class="section-wrap bg-primary bg-opacity-10 rounded-4">
                      <div class="section-content bg-pattern-dot-sm p-4 p-sm-6">
                          <div class="row justify-content-center text-center">
                              <div class="col-xl-8 col-xxl-9">
                                  <div class="block-text">
                                      <h6 class="overline-title text-primary">Boost your writing productivity</h6>
                                      <h2 class="title">Ready to Transform Your Text?</h2>
                                      <p class="lead mt-3">SummaryGenerator.io turns your lengthy texts into crisp, clear summaries with just one click.                                </p>
                                      <ul class="btn-list btn-list-inline">
                                          <li><a href="#" class="btn btn-lg btn-primary"><span>Summarize Now</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                                      </ul>
                                      <ul class="list list-row gy-0 gx-3">
                                          <li><em class="icon ni ni-check-circle-fill text-success"></em><span>Free to use
                                                  </span></li>
                                          <li><em class="icon ni ni-check-circle-fill text-success"></em><span>Generate summaries in 3 seconds</span></li>
                                          <li><em class="icon ni ni-check-circle-fill text-success"></em><span>No signup required</span></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div><!-- .section-content -->
                  </div><!-- .section-wrap -->
              </div><!-- .container -->
          </section><!-- .section -->
        </main>
        <footer style="margin-top:60px;" class="nk-footer">
          <div class="section section-sm section-top-0">
            <div class="container">
              <div class="row g-5">
                <div class="col-xl-4 col-lg-7 col-md-9 me-auto">
                  <div class="block-text pe-xxl-5">
                    <a href="index.html" class="logo-link mb-4">
                      <div class="logo-wrap">
                        <img
                          class="logo-img logo-light"
                          src="images/logo-green.png"
                          srcset="images/logo-green2x.png 2x"
                          alt=""
                        />
                        <img
                          class="logo-img logo-dark"
                          src="images/logo-green-dark.png"
                          srcset="images/logo-green-dark2x.png 2x"
                          alt=""
                        />
                      </div>
                    </a>
                    <p>
                      Summarygenerator.io is an AI-powered tool that uses advanced algorithms and natural language processing to analyze the content and identify main ideas to generate relevant summaries. It generates summaries of varying lengths for any type of content.
                    </p>
                  </div>
                </div>
                <!-- .col -->
                <div class="col-xl">
                  <div class="row g-gs">
                    <div class="col-lg-4 col-sm-4 col-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                          Company
                        </h6>
                        <ul class="list gy-2 list-link-base">
                          <li><a class="link-base" href="{% url 'about' %}">About Us</a></li>
                          <li><a class="link-base" href="{% url 'termsandConditions' %}" >Terms and Conditions</a></li>
                          <li><a class="link-base" href="{% url 'privacypolicy' %}" >Privacy Policy</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <!-- .col -->
                    <!-- <div class="col-lg-3 col-sm-4 col-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                          Use Case
                        </h6>
                        <ul class="list gy-2 list-link-base">
                          <li><a class="link-base" href="#">Blog writing</a></li>
                          <li>
                            <a class="link-base" href="#">Social media Ads</a>
                          </li>
                          <li>
                            <a class="link-base" href="#">Creative writing</a>
                          </li>
                          <li><a class="link-base" href="#">Magic command</a></li>
                        </ul>
                      </div>
                    </div> -->
                    <!-- .col -->
                    <!-- <div class="col-lg-3 col-sm-4 col-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                          Use Case
                        </h6>
                        <ul class="list gy-2 list-link-base">
                          <li><a class="link-base" href="{% url 'contact' %}">Contact Us</a></li>
                          <li><a class="link-base" href="#">Weekly Demos</a></li>
                          <li><a class="link-base" href="#">Report a Bug</a></li>
                          <li>
                            <a class="link-base" href="#"
                              >Request a New Feature</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div> -->
                    <!-- .col -->
                    <div class="col-lg-4 col-md-5 col-sm-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                          Get In Touch
                        </h6>
                        <ul class="list gy-3">
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-mail-fill"
                            ></em>
                            <span>support@copygen.com</span>
                          </li>
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-call-alt-fill"
                            ></em>
                            <span>+(642) 342 762 44</span>
                          </li>
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-map-pin-fill"
                            ></em>
                            <span
                              >442 Belle St Floor 7, San Francisco, AV 4206</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- .col -->
                  </div>
                  <!-- .row -->
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .container -->
          </div>
          <!-- .section -->
          <div class="section section-0">
            <hr class="border-opacity-25 border-primary m-0" />
            <div class="container">
              <div class="py-4">
                <div class="row">
                  <div class="col-md">
                    <p class="mb-2 mb-md-0">
                      Copyright &copy; 2023. Template Made by
                      <a href="#" class="fw-bold text-base">Softnio</a>.
                    </p>
                  </div>
                  <!-- .col -->
                  <div class="col-md">
                    <ul
                      class="list list-row gx-4 justify-content-start justify-content-md-end"
                    >
                    <li><a class="link-base" href="{% url 'termsandConditions' %}" >Terms</a></li>
                    <li><a class="link-base" href="{% url 'privacypolicy' %}" >Privacy Policy</a></li>
                  
                    </ul>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
              </div>
            </div>
            <!-- .container -->
          </div>
          <!-- .section -->
        </footer>
    </div>
    <script src="{% static 'front/assets/js/bundle.js' %}?v1.5.0"></script>
    <script src="{% static 'front/assets/js/scripts.js' %}?v1.5.0"></script>
</body>

</html>