<!DOCTYPE html>
<html lang="en">
  {% load static %} {% load i18n %}

  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.png" />
    {% block meta_tags %} {% endblock %}

    <link
      rel="stylesheet"
      href="{% static 'front/assets/css/style-s3.css' %}?v1.5.0"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.6.0/mammoth.browser.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <style>
      .lds-dual-ring {
        display: inline-block;
        width: 32px;
        height: 32px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        margin: 4px;
        border-radius: 50%;
        border: 3px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
      .round-button {
        background: #ffffff;
        border: none;
        height: 35px;
        width: 35px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.5s ease;
      }
      .round-button:hover {
        background: #5a98ffaa;
        transition: all 0.5s ease;
      }
      .tooltip {
        display: none;
        color: white;
        background-color: #484848;
        position: absolute;
        width: max-content;
        padding: 4px;
        border-radius: 5px;
        font-size: x-small;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
      .tooltip-container {
        position: relative;
      }
      .tooltip-container:hover > .tooltip {
        display: block;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body class="nk-body" data-menu-collapse="lg">
    <div class="nk-app-root">
      <header class="nk-header has-shape">
        <div
          class="nk-shape bg-shape-blur-c ms-n20p mt-n20p start-50 translate-middle-x"
        ></div>
        <div
          class="nk-header-main nk-menu-main will-shrink has-border ignore-mask"
        >
          <div class="container">
            <div class="nk-header-wrap">
              <div class="nk-header-logo">
                <a href="index.html" class="logo-link">
                  <div class="logo-wrap">
                    <img
                      class="logo-img logo-light"
                      src="images/logo-green.png"
                      srcset="images/logo-green2x.png 2x"
                      alt=""
                    />
                    <img
                      class="logo-img logo-dark"
                      src="images/logo-green-dark.png"
                      srcset="images/logo-green-dark2x.png 2x"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <!-- .nk-header-logo -->
              <div class="nk-header-toggle">
                <button class="dark-mode-toggle">
                  <em class="off icon ni ni-sun-fill"></em>
                  <em class="on icon ni ni-moon-fill"></em>
                </button>
                <button class="btn btn-light btn-icon header-menu-toggle">
                  <em class="icon ni ni-menu"></em>
                </button>
              </div>
              <nav class="nk-header-menu nk-menu">
                <ul class="nk-menu-list mx-auto">
                  <li class="nk-menu-item">
                    <a href="usecase.html" class="nk-menu-link">
                      <span class="nk-menu-text">Use Cases</span>
                    </a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="features.html" class="nk-menu-link">
                      <span class="nk-menu-text">Features</span>
                    </a>
                  </li>

                  <li class="nk-menu-item">
                    <a href="{% url 'pricing' %}" class="nk-menu-link">
                      <span class="nk-menu-text">Pricing</span>
                    </a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="{% url 'blog' %}" class="nk-menu-link">
                      <span class="nk-menu-text">Blog</span>
                    </a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nk-menu-item">
                    <a href="{% url 'account_logout' %}" class="nk-menu-link">
                      <span class="nk-menu-text">Logout</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="nk-menu-item">
                    <a href="{% url 'account_login' %}" class="nk-menu-link">
                      <span class="nk-menu-text">Login</span>
                    </a>
                  </li>

                  <li class="nk-menu-item">
                    <a href="{% url 'account_signup' %}" class="nk-menu-link">
                      <span class="nk-menu-text">Sign Up</span>
                    </a>
                  </li>
                  {% endif%}
                </ul>
                <!-- .nk-menu-list -->
                <div class="mx-2 d-none d-lg-block">
                  <button class="dark-mode-toggle">
                    <em class="off icon ni ni-sun-fill"></em>
                    <em class="on icon ni ni-moon-fill"></em>
                  </button>
                </div>
                <ul class="nk-menu-buttons flex-lg-row-reverse">
                  <li><a href="#" class="btn btn-primary">Get Started</a></li>
                  <li class="dropdown">
                    <a
                      class="link link-base fw-medium dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      data-bs-offset="0, 12"
                    >
                      <!-- Display current language -->
                      {% get_current_language as CURRENT_LANGUAGE %} {%
                      get_language_info for CURRENT_LANGUAGE as LANG_INFO %} {{
                      LANG_INFO.name_local }} ({{ CURRENT_LANGUAGE|upper }})
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end shadow-sm border-0"
                    >
                      <!-- Iterate over available languages -->
                      {% for language in languages %}
                      <li>
                        <a
                          class="dropdown-item link-base py-2 px-4"
                          href="/{{language.code}}/"
                        >
                          {{ language.display_name }} ({{ language.code|upper
                          }})
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
                <!-- .nk-menu-buttons -->
              </nav>
              <!-- .nk-header-menu -->
            </div>
            <!-- .nk-header-wrap -->
          </div>
          <!-- .container -->
        </div>
        <!-- .nk-header-main -->
        {% block hero %} {% endblock %}
        <!-- .nk-hero -->
      </header>
      <!-- .nk-header -->
      {% block content %} {% endblock %}
      <footer class="nk-footer">
        <div class="section section-sm section-top-0">
          <div class="container">
            <div class="row g-5">
              <div class="col-xl-4 col-lg-7 col-md-9 me-auto">
                <div class="block-text pe-xxl-5">
                  <a href="index.html" class="logo-link mb-4">
                    <div class="logo-wrap">
                      <img
                        class="logo-img logo-light"
                        src="images/logo-green.png"
                        srcset="images/logo-green2x.png 2x"
                        alt=""
                      />
                      <img
                        class="logo-img logo-dark"
                        src="images/logo-green-dark.png"
                        srcset="images/logo-green-dark2x.png 2x"
                        alt=""
                      />
                    </div>
                  </a>
                  <p>
                    CopyGen is an artificial intelligence trained to automate
                    important tasks such as writing optimized product
                    descriptions, high-converting ad copy, blog outlines, and
                    more!
                  </p>
                </div>
              </div>
              <!-- .col -->
              <div class="col-xl">
                <div class="row g-gs">
                  <div class="col-lg-3 col-sm-4 col-6">
                    <div class="wgs">
                      <h6 class="wgs-title overline-title text-heading">
                        Company
                      </h6>
                      <ul class="list gy-2 list-link-base">
                        <li><a class="link-base" href="#">About Us</a></li>
                        <li><a class="link-base" href="#">Careers</a></li>
                        <li><a class="link-base" href="#">Community</a></li>
                        <li>
                          <a class="link-base" href="#">Creator Program</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-sm-4 col-6">
                    <div class="wgs">
                      <h6 class="wgs-title overline-title text-heading">
                        Use Case
                      </h6>
                      <ul class="list gy-2 list-link-base">
                        <li><a class="link-base" href="#">Blog writing</a></li>
                        <li>
                          <a class="link-base" href="#">Social media Ads</a>
                        </li>
                        <li>
                          <a class="link-base" href="#">Creative writing</a>
                        </li>
                        <li><a class="link-base" href="#">Magic command</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-sm-4 col-6">
                    <div class="wgs">
                      <h6 class="wgs-title overline-title text-heading">
                        Use Case
                      </h6>
                      <ul class="list gy-2 list-link-base">
                        <li><a class="link-base" href="#">Contact Us</a></li>
                        <li><a class="link-base" href="#">Weekly Demos</a></li>
                        <li><a class="link-base" href="#">Report a Bug</a></li>
                        <li>
                          <a class="link-base" href="#"
                            >Request a New Feature</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- .col -->
                  <div class="col-lg-3 col-md-5 col-sm-6">
                    <div class="wgs">
                      <h6 class="wgs-title overline-title text-heading">
                        Get In Touch
                      </h6>
                      <ul class="list gy-3">
                        <li>
                          <em
                            class="icon text-primary fs-5 ni ni-mail-fill"
                          ></em>
                          <span>support@copygen.com</span>
                        </li>
                        <li>
                          <em
                            class="icon text-primary fs-5 ni ni-call-alt-fill"
                          ></em>
                          <span>+(642) 342 762 44</span>
                        </li>
                        <li>
                          <em
                            class="icon text-primary fs-5 ni ni-map-pin-fill"
                          ></em>
                          <span
                            >442 Belle St Floor 7, San Francisco, AV 4206</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
              </div>
              <!-- .col -->
            </div>
            <!-- .row -->
          </div>
          <!-- .container -->
        </div>
        <!-- .section -->
        <div class="section section-0">
          <hr class="border-opacity-25 border-primary m-0" />
          <div class="container">
            <div class="py-4">
              <div class="row">
                <div class="col-md">
                  <p class="mb-2 mb-md-0">
                    Copyright &copy; 2023. Template Made by
                    <a href="#" class="fw-bold text-base">Softnio</a>.
                  </p>
                </div>
                <!-- .col -->
                <div class="col-md">
                  <ul
                    class="list list-row gx-4 justify-content-start justify-content-md-end"
                  >
                    <li><a href="#" class="link-primary">Terms</a></li>
                    <li><a href="#" class="link-primary">Privacy Policy</a></li>
                  </ul>
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
          </div>
          <!-- .container -->
        </div>
        <!-- .section -->
      </footer>
    </div>
    <script src="{% static '/front/read_files.js' %}?v1.5.0"></script>
    <script src="{% static '/front/send_request.js' %}?v1.5.0"></script>

    <script src="{% static '/front/assets/js/bundle.js' %}?v1.5.0"></script>
    <script src="{% static '/front/assets/js/scripts.js' %}?v1.5.0"></script>
  </body>
</html>
