{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% load static %} {% load i18n %}

  <head>
    <title>Pricing</title>
<meta name=”description” content=”Free Ai Summary Generator, your go-to text summarizer that uses advanced algorithms to identify main points and generate relevant summaries.
” />
    <meta charset="UTF-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'front/images/favicon.ico' %}"/>
    {% block meta_tags %} {% endblock %}

    <link
      rel="stylesheet"
      href="{% static 'front/assets/css/style-s3.css' %}?v1.5.0"
    />
    <link rel="stylesheet" href="{% static 'front/assets/css/style.css' %}?v1.5.0">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.6.0/mammoth.browser.min.js"></script>
   
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>


   
  </head>

  <body class="nk-body" data-menu-collapse="lg">
    <div class="nk-app-root">
    <script src="https://js.stripe.com/v3/"></script>


<header class="nk-header has-mask">
    <!-- <div class="nk-mask bg-gradient-a"></div> -->
    <div class="nk-mask bg-pattern-dot bg-blend-top"></div>
    <div class="nk-header-main nk-menu-main will-shrink is-transparent ignore-mask">
        <div class="container">
          <div class="nk-header-wrap">
            <div class="nk-header-logo">
              <a href="https://summarygenerator.io/" class="logo-link">
                <div class="logo-wrap">
                  <img
                    class="logo-img logo-light" style="width:170px; height:auto!important;"
                    src="{% static 'front/images/sglogowhite.png' %}"
                    alt="logoimg"
                  />
                  <img
                    class="logo-img logo-dark" style="width:170px; height:auto!important;"
                    src="{% static 'front/images/sglogo6.png' %}"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <!-- .nk-header-logo -->
            <div class="nk-header-toggle">
              <button class="dark-mode-toggle">
                <em class="off icon ni ni-sun-fill"></em>
                <em class="on icon ni ni-moon-fill"></em>
              </button>
              <button class="btn btn-light btn-icon header-menu-toggle">
                <em class="icon ni ni-menu"></em>
              </button>
            </div>
            <nav class="nk-header-menu nk-menu menu-mobile">
              <ul class="nk-menu-list mx-auto">
               
      <li class="nk-menu-item">
              <a href="{% url 'home' %}" class="nk-menu-link">
                <span class="nk-menu-text">Home</span>
              </a>
            </li>
                <li class="nk-menu-item">
                  <a href="{% url 'pricing' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Pricing</span>
                  </a>
                </li>
              
                <li class="nk-menu-item">
                  <a href="{% url 'about' %}" class="nk-menu-link">
                    <span class="nk-menu-text">About</span>
                  </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nk-menu-item">
                  <a href="{% url 'custom_logout' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Logout</span>
                  </a>
                </li>
               

                {% else %}
                <li class="nk-menu-item">
                  <a href="{% url 'account_login' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Login</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url 'account_signup' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Sign Up</span>
                  </a>
                </li>

                {% endif%}
              
              </ul>

              <!-- .nk-menu-list -->
              <div class="mx-2 d-none d-lg-block">
                <button class="dark-mode-toggle">
                  <em class="off icon ni ni-sun-fill"></em>
                  <em class="on icon ni ni-moon-fill"></em>
                </button>
              </div>
              <ul class="nk-menu-buttons flex-lg-row-reverse">

                {% if user.is_authenticated %}
                <li><a href="https://summarygenerator.io/dashboard/" class="btn btn-primary">Dashboard</a></li>
      {% endif %}
      {% if not user.is_authenticated %}
      <li><a href="https://summarygenerator.io/dashboard/" class="btn btn-primary">Dashboard</a></li>
      {% endif %}
                <li class="dropdown">
                  <a
                    class="link link-base fw-medium dropdown-toggle"
                    href="#"
                    data-bs-toggle="dropdown"
                    data-bs-offset="0, 12"
                  >
                    <!-- Display current language -->
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_language_info for CURRENT_LANGUAGE as LANG_INFO %}
                    {{ LANG_INFO.name_local }} ({{ CURRENT_LANGUAGE|upper }})
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end shadow-sm border-0"
                  >
                    <!-- Iterate over available languages -->
                    {% for language in languages %}
                    <li>
                      <a
                        class="dropdown-item link-base py-2 px-4"
                        href="/{{language.code}}/"
                      >
                        {{ language.display_name }} ({{ language.code|upper
                        }})
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <!-- .nk-menu-buttons -->
            </nav>
            <!-- .nk-header-menu -->
          </div>
          <!-- .nk-header-wrap -->
        </div>
      </div>
   
</header><!-- .nk-header -->
<main class="nk-pages">
    <section class="section section-bottom-0 has-shape has-mask">
        <div class="nk-shape bg-shape-blur-m mt-8 start-50 top-0 translate-middle-x"></div>
        <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
        <div class="container">
            <div class="section-head">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-10 col-xl-9 col-xxl-8">
                        <h6 class="overline-title text-primary">Plans &amp; Pricing</h6>
                        <h2 class="title h1">{% translate 'Plans that best suit your business requirements' %}</h2>
                    </div>
                </div>
            </div><!-- .section-head -->
            <div class="section-content">
                <div class="row g-gs justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing">
                            <div class="pricing-body p-5">
                                <div class="text-center">
                                    <h5 class="mb-3">Monthly</h5>
                                    <h3 class="h2 mb-4">$9.95 <span class="caption-text text-muted"> / month</span></h3>
                                    <a href="#" class="btn btn-primary btn-soft btn-block" id="choose-monthly">Choose Monthly Plan</a>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"
                                            id="monthly-spinner"></span>

                                </div>
                                <ul class="list gy-3 pt-4 ps-2">
                                <li><em class="icon ni ni-check text-success"></em> <span><strong>{% translate '1 million' %}</strong>
                                    {% translate 'Monthly Word Limit' %}</span></li>
                                
                                <li><em class="icon ni ni-check text-success"></em> <span>{% translate '30+ Languages' %}</span></li>
                                <li><em class="icon ni ni-check text-success"></em> <span>{% translate 'Advance Editor Tool' %}</span>
                                </li>
                                <li><em class="icon ni ni-check text-success"></em> <span>{% translate 'Regular Technical Support' %}</span></li>
                                <li><em class="icon ni ni-check text-success"></em> <span>{% translate 'Unlimited Logins' %}</span>
                                </li>
                                <li><em class="icon ni ni-check text-success"></em> <span>{% translate 'Newest Features' %}</span>
                                </li>

                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing pricing-featured bg-primary">
                            <div class="pricing-body p-5">
                                <div class="text-center">
                                    <h5 class="mb-3">Yearly</h5>
                                    <h3 class="h2 mb-4">$59.95 <span class="caption-text text-muted"> / year</span></h3>
                                    <a href="#" class="btn btn-primary btn-block" id="choose-yearly">Choose Yearly Plan</a>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"
                                            id="yearly-spinner"></span>

                                </div>
                                <ul class="list gy-3 pt-4 ps-2">
                                    <li><em class="icon ni ni-check text-success"></em> <span><strong>10 million</strong>
                                            Yearly Word Limit</span></li>
                                  
                                    <li><em class="icon ni ni-check text-success"></em> <span>50+ Languages</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Advance Editor Tool</span>
                                    </li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Regular Technical
                                            Support</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Unlimited Logins</span>
                                    </li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Newest Features</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                   <!-- .col -->
                </div><!-- .row -->
            </div><!-- .section-content -->
        </div><!-- .container -->
    </section><!-- .section -->
    <section class="section section-bottom-0">
        <div class="container">
            <div class="section-head">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-8">
                        <h6 class="overline-title text-primary">FAQ'S</h6>
                        <h2 class="title">Frequently Asked Questions</h2>
                    </div>
                </div>
            </div><!-- .section-head -->
            <div class="section-content">
                <div class="row g-gs justify-content-center">
                    <div class="col-xl-9 col-xxl-8">
                        <div class="accordion accordion-flush accordion-plus-minus accordion-icon-accent" id="faq-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-1-10">Is there a free plan?</button>
                                </h2>
                                <div id="faq-1-10" class="accordion-collapse collapse show" data-bs-parent="#faq-2">
                                    <div class="accordion-body"> Summarygenerator.io offers a <a href="https://summarygenerator.io/accounts/signup/">free plan</a> summarizing articles, research papers, and any kind of text for up to 800 words.  With a free account, you can access <a href="https://summarygenerator.io/dashboard/">the dashboard</a>.
 
                                    </div>
                                </div>
                            </div><!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#faq-1-20">What are the benefits of the Monthly plan?

                                      </button>
                                </h2>
                                <div id="faq-1-20" class="accordion-collapse collapse" data-bs-parent="#faq-2">
                                    <div class="accordion-body">With the Monthly plan, you can summarize up to 1 million words per month in more than 30 languages for just $9.95/month. You also get access to the advanced editor tool to edit text inside the tool.  Plus, you get regular technical support, unlimited logins, and access to the newest features.
                                    </div>
                                </div>
                            </div><!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#faq-1-30"> Why should I buy the Yearly plan?
                                      </button>
                                </h2>
                                <div id="faq-1-30" class="accordion-collapse collapse" data-bs-parent="#faq-2">
                                    <div class="accordion-body"> Choosing the Yearly plan for $59.95 over the monthly option at $9.95 means you’re saving nearly 50% annually. Plus, it expands the word limit to 10 million yearly, supports more than 50 languages, and includes all features of the Monthly plan, making it a more economical choice for heavy users.
                                    </div>
                                </div>
                            </div><!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#faq-1-04"> Can I upgrade from the free plan to a paid subscription?

                                      </button>
                                </h2>
                                <div id="faq-1-04" class="accordion-collapse collapse" data-bs-parent="#faq-2">
                                    <div class="accordion-body">Yes, you can easily upgrade to either the Monthly or Yearly plan to enjoy higher word limits, additional languages, the advanced editor tool, and other premium features.

                                    </div>
                                </div>
                            </div><!-- .accordion-item -->
                        </div><!-- .accordion -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .section-content -->
        </div><!-- .container -->
    </section><!-- .section -->
    {% csrf_token %}
    <section class="section pb-6 section-bottom-0">
        <div class="container">
            <div class="section-wrap bg-primary bg-opacity-10 rounded-4">
                <div class="section-content bg-pattern-dot-sm p-4 p-sm-6">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-8 col-xxl-9">
                            <div class="block-text">
                                <h6 class="overline-title text-primary">Boost your writing productivity</h6>
                                <h2 class="title">Ready to Transform Your Text?</h2>
                                <p class="lead mt-3">SummaryGenerator.io turns your lengthy texts into crisp, clear summaries with just one click.                                </p>
                                <ul class="btn-list btn-list-inline">
                                    <li><a href="#" class="btn btn-lg btn-primary"><span>Summarize Now</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                                </ul>
                                <ul class="list list-row gy-0 gx-3">
                                    <li><em class="icon ni ni-check-circle-fill text-success"></em><span>Free to use
                                            </span></li>
                                    <li><em class="icon ni ni-check-circle-fill text-success"></em><span>Generate summaries in 3 seconds</span></li>
                                    <li><em class="icon ni ni-check-circle-fill text-success"></em><span>No signup required</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- .section-content -->
            </div><!-- .section-wrap -->
        </div><!-- .container -->
    </section><!-- .section -->
</main>
<footer style="margin-top:60px;" class="nk-footer">
  <div class="section section-sm section-top-0">
    <div class="container">
      <div class="row g-5">
        <div class="col-xl-4 col-lg-7 col-md-9 me-auto">
          <div class="block-text pe-xxl-5">
            <a href="https://summarygenerator.io/" class="logo-link mb-4">
              <div class="logo-wrap">
                <img
                  class="logo-img logo-light" style="width:170px; height:auto!important;"
                  src="{% static 'front/images/sglogowhite.png' %}"
                  alt="logoimg"
                />
                <img
                  class="logo-img logo-dark" style="width:170px; height:auto!important;"
                  src="{% static 'front/images/sglogo6.png' %}"
                  alt=""
                />
              </div>
            </a>
            <p class="py-4">
              Summarygenerator.io is an AI-powered tool that uses advanced algorithms and natural language processing to analyze the content and identify main ideas to generate relevant summaries. It generates summaries of varying lengths for any type of content.
            </p>
          </div>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
        <!-- .col -->
      <div class="col-xl-7 col-lg-7">
          <div class="row g-gs">
            <div class="col-lg-6 col-sm-4 col-6">
              <div class="wgs">
                <h6 class="wgs-title overline-title text-heading">
                  Links
                </h6>
                <ul class="list gy-2 list-link-base">
                  <li><a class="link-base" href="{% url 'about' %}">About Us</a></li>
                  <li><a class="link-base" href="{% url 'termsandConditions' %}" >Terms and Conditions</a></li>
                  <li><a class="link-base" href="{% url 'privacypolicy' %}" >Privacy Policy</a></li>
                  <li><a class="link-base" href="{% url 'pricing' %}" >Pricing</a></li>
                  
                </ul>
              </div>
            </div>
        
            <div class="col-lg-6 col-md-5 col-sm-6">
              <div class="wgs">
                <h6 class="wgs-title overline-title text-heading">
                  Get In Touch
                </h6>
                <ul class="list gy-3">
                  <li>
                    <em
                      class="icon text-primary fs-5 ni ni-mail-fill"
                    ></em>
                    <span>support@summarygenerator.io</span>
                  </li>
                  <li>
                    <em
                      class="icon text-primary fs-5 ni ni-call-alt-fill"
                    ></em>
                    <span>+4473 61622097</span>
                  </li>
                  <li>
                    <em
                      class="icon text-primary fs-5 ni ni-map-pin-fill"
                    ></em>
                    <span
                      >International House, 12 Constance Street, London, E16 2DQ.</span
                    >
                  </li>
                </ul>
              </div>
            </div>
           
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .section -->
  <div class="section section-0">
    <hr class="border-opacity-25 border-primary m-0" />
    <div class="container">
      <div class="py-4">
        <div class="row">
          <div class="col-md">
            <p class="mb-2 mb-md-0 text-center">
              Copyright &copy; 2023.
              <a href="https://summarygenerator.io/" class="fw-bold text-base">Summarygenerator.io</a>.
            </p>
          </div>
          <!-- .col -->
        
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .section -->
</footer>
</div>
</body>


<script src="{% static '/front/assets/js/bundle.js' %}?v1.5.0"></script>
<script src="{% static '/front/assets/js/scripts.js' %}?v1.5.0"></script>

<script>


$('.header-menu-toggle').click(function () {
            console.log('menu mobile')
            if(!$('.nk-menu').hasClass('header-menu-active'))
            $('.nk-menu').addClass('header-menu-active')
            else
            $('.nk-menu').removeClass('header-menu-active')
        })
    
        $('.dark-mode-toggle').click(function () {
            console.log('dark mode activating')
            if(!$('body').hasClass('is-dark'))
            $('body').addClass('is-dark')
            else
            $('body').removeClass('is-dark')
        })



    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

    // Initialize Stripe with your publishable key
    var stripe = Stripe('pk_test_51OKe5yHOGzXipbLiSQTs3ThedglvWvtCOUCDi3rtzwT8r2erizBHynvxXtVCYzLTCLBR23YEfE5JManFPxlFhHUa00FbQDaDIx');

   document.getElementById('choose-monthly').addEventListener('click', function (e) {
        e.preventDefault();
        this.setAttribute('disabled', 'disabled');
        document.getElementById('monthly-spinner').style.display = 'inline-block';
        createCheckoutSession('monthly');
    });

    document.getElementById('choose-yearly').addEventListener('click', function (e) {
        e.preventDefault();
        this.setAttribute('disabled', 'disabled');
        document.getElementById('yearly-spinner').style.display = 'inline-block';
        createCheckoutSession('yearly');
    });


    function createCheckoutSession(planType) {
        fetch('/payments/create_checkout/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken 
            },
            body: JSON.stringify({
                plan_type: planType
            })
        })
            .then(function (response) {
                if (response.status === 403) {
                    window.location.href = '/accounts/signup/';  // Redirect to sign-up
                    return null;
                }
                else {
                    return response.json();
                }
                // return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .catch(function (error) {
                console.error('Error:', error);
            }).finally(function () {
                // Re-enable the button and hide the spinner
                var buttonId = planType === 'monthly' ? 'choose-monthly' : 'choose-yearly';
                var spinnerId = planType === 'monthly' ? 'monthly-spinner' : 'yearly-spinner';
                document.getElementById(buttonId).removeAttribute('disabled');
                document.getElementById(spinnerId).style.display = 'none';
            });;
    }
</script>

