{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Terms &amp; Conditions - CopyGen - AI Writer &amp; Copywriting Landing Page HTML Template.</title>
    <link rel="stylesheet" href="{% static 'front/assets/css/style.css' %}?v1.5.0">
</head>

<body class="nk-body " data-menu-collapse="lg">
    <div class="nk-app-root ">
        <header class="nk-header">
            <div class="nk-header-main nk-menu-main will-shrink is-transparent ignore-mask">
                <div class="container">
                    <div class="nk-header-wrap">
                        <div class="nk-header-logo">
                            <a href="index.html" class="logo-link">
                                <div class="logo-wrap">
                                    <img class="logo-img logo-light" src="images/logo.png" srcset="images/logo2x.png 2x" alt="">
                                    <img class="logo-img logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="">
                                </div>
                            </a>
                        </div><!-- .nk-header-logo -->
                        <div class="nk-header-toggle">
                            <button class="dark-mode-toggle">
                                <em class="off icon ni ni-sun-fill"></em>
                                <em class="on icon ni ni-moon-fill"></em>
                            </button>
                            <button class="btn btn-light btn-icon header-menu-toggle">
                                <em class="icon ni ni-menu"></em>
                            </button>
                        </div>
                        <nav class="nk-header-menu nk-menu">
                            <ul class="nk-menu-list mx-auto">
                                <li class="nk-menu-item has-dropdown">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-text">Home</span>
                                    </a>
                                    <div class="nk-menu-dropdown">
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index.html">Home S1</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s2.html">Home S2</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s3.html">Home S3</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s4.html">Home S4</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s5.html">Home S5</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s6.html">Home S6 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s7.html">Home S7 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="usecase.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Use Cases</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="features.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Features</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item has-dropdown">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-text">Pages</span>
                                    </a>
                                    <div class="nk-menu-dropdown nk-menu-mega">
                                        <div class="nk-menu-mega-wrap">
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="about.html">About</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase.html">Use Case</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-details.html">Use Case Details <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-s2.html">Use Case S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-details-s2.html">Use Case Details S2 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="pricing.html">Pricing</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="pricing-s2.html">Pricing S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="blog.html">Blog</a>
                                                </li>
                                            </ul>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="blog-single.html">Blog Single</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="features.html">Features</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="contact.html">Contact</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="contact-s2.html">Contact S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="login.html">Login</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="login-s2.html">Login S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="register.html">Register</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="register-s2.html">Register S2</a>
                                                </li>
                                            </ul>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="reset.html">Reset</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="reset-s2.html">Reset S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="404.html">404 Error</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="404-s2.html">404 Error S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="504.html">504 Error</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="504-s2.html">504 Error s2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="terms-condition.html">Terms &amp; Condition</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="pricing.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Pricing</span>
                                    </a>
                                </li>
                            </ul><!-- .nk-menu-list -->
                            <div class="mx-2 d-none d-lg-block">
                                <button class="dark-mode-toggle">
                                    <em class="off icon ni ni-sun-fill"></em>
                                    <em class="on icon ni ni-moon-fill"></em>
                                </button>
                            </div>
                            <ul class="nk-menu-buttons flex-lg-row-reverse">
                                <li><a href="#" class="btn btn-primary">Start Writing</a></li>
                                <li><a class="link link-dark" href="login.html">Login </a></li>
                            </ul><!-- .nk-menu-buttons -->
                        </nav><!-- .nk-header-menu -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container -->
            </div><!-- .nk-header-main -->
        </header><!-- .nk-header -->
        <main class="nk-pages">
            <section class="section section-bottom-0 has-mask">
                <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-xxl-8 col-xl-9 col-lg-10">
                                <div class="text-center mb-6">
                                    <!-- <h6 class="overline-title text-primary">CopyGen</h6> -->
                                    <h1 class="title">Terms and Conditions</h1>
                                    <ul class="list list-row gx-2">
                                        <li>
                                            <div class="sub-text fs-5"> Last Updated Feb 10, 2023</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-typo">
                                    <h2>AGREEMENT TO OUR LEGAL TERMS</h2>
                                    <p class="lead mt-3">
                                        We are SummaryGenerator Company, a company registered in England at International House,, 12 Constance Street,, London E16 2DQ. 
                                    </p> 
                                    <p class="lead mt-3">
                                        We operate the website https://SummaryGenerator.io (the "Site"), as well as any other related products and services that refer or link to these legal terms (the "Legal Terms") (collectively, the "Services").  </p> 

                                        <p class="lead mt-3">
                                            You can contact us by phone at +447361622097, email at info@summarygenerator.io, or by mail to International House,, 12 Constance Street,, London E16 2DQ, England.                                         </p> 
    
                                            <p class="lead mt-3">
                                                These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("you"), and SummaryGenerator, concerning your access to and use of the Services. You agree that by accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY.                                         </p> 
                                                <p class="lead mt-3">
                                                    We will provide you with prior notice of any scheduled changes to the Services you are using. The modified Legal Terms will become effective upon posting or notifying you by info@summarygenerator.io, as stated in the email message. By continuing to use the Services after the effective date of any changes, you agree to be bound by the modified terms.                                                 </p> 
                                                    <p class="lead mt-3">
                                                        The Services are intended for users who are at least 13 years of age. All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Services. If you are a minor, you must have your parent or guardian read and agree to these Legal Terms prior to you using the Services. We recommend that you print a copy of these Legal Terms for your records.                                                     </p> 
                              
                              
                                                </div>
                            </div><!-- .col -->


                            <div class="col-xxl-8 col-xl-9 col-lg-10">
                                <section>
            
                                    <h1>Table of Contents</h1>
                                  
                                    <ul>
                                      <li><a href="#our-services">1. OUR SERVICES</a></li>
                                      <li><a href="#intellectual-property">2. INTELLECTUAL PROPERTY RIGHTS</a></li>
                                      <li><a href="#user-representations">3. USER REPRESENTATIONS</a></li>
                                      <li><a href="#user-registration">4. USER REGISTRATION</a></li>
                                      <li><a href="#purchases-and-payment">5. PURCHASES AND PAYMENT</a></li>
                                      <li><a href="#subscriptions">6. SUBSCRIPTIONS</a></li>
                                      <li><a href="#software">7. SOFTWARE</a></li>
                                      <li><a href="#prohibited-activities">8. PROHIBITED ACTIVITIES</a></li>
                                      <li><a href="#user-generated-contributions">9. USER GENERATED CONTRIBUTIONS</a></li>
                                      <li><a href="#contribution-license">10. CONTRIBUTION LICENSE</a></li>
                                      <li><a href="#social-media">11. SOCIAL MEDIA</a></li>
                                      <li><a href="#third-party-websites">12. THIRD-PARTY WEBSITES AND CONTENT</a></li>
                                      <li><a href="#advertisers">13. ADVERTISERS</a></li>
                                      <li><a href="#services-management">14. SERVICES MANAGEMENT</a></li>
                                      <li><a href="#privacy-policy">15. PRIVACY POLICY</a></li>
                                      <li><a href="#term-and-termination">16. TERM AND TERMINATION</a></li>
                                      <li><a href="#modifications-and-interruptions">17. MODIFICATIONS AND INTERRUPTIONS</a></li>
                                      <li><a href="#governing-law">18. GOVERNING LAW</a></li>
                                      <li><a href="#dispute-resolution">19. DISPUTE RESOLUTION</a></li>
                                      <li><a href="#corrections">20. CORRECTIONS</a></li>
                                      <li><a href="#disclaimer">21. DISCLAIMER</a></li>
                                      <li><a href="#limitations-of-liability">22. LIMITATIONS OF LIABILITY</a></li>
                                      <li><a href="#indemnification">23. INDEMNIFICATION</a></li>
                                      <li><a href="#user-data">24. USER DATA</a></li>
                                      <li><a href="#electronic-communications">25. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</a></li>
                                      <li><a href="#california-users">26. CALIFORNIA USERS AND RESIDENTS</a></li>
                                      <li><a href="#miscellaneous">27. MISCELLANEOUS</a></li>
                                      <li><a href="#contact-us">28. CONTACT US</a></li>
                                    </ul>
                                  
                                    <h2 id="our-services">1. OUR SERVICES</h2>
                                    <p>Content for OUR SERVICES.</p>
                                  
                                    <h2 id="intellectual-property">2. INTELLECTUAL PROPERTY RIGHTS</h2>
                                    <p>Content for INTELLECTUAL PROPERTY RIGHTS.</p>
                                  
                                    <h2 id="user-representations">3. USER REPRESENTATIONS</h2>
                                    <p>Content for USER REPRESENTATIONS.</p>
                                  
                                    <h2 id="user-registration">4. USER REGISTRATION</h2>
                                    <p>Content for USER REGISTRATION.</p>
                                  
                                    <h2 id="purchases-and-payment">5. PURCHASES AND PAYMENT</h2>
                                    <p>Content for PURCHASES AND PAYMENT.</p>
                                  
                                    <h2 id="subscriptions">6. SUBSCRIPTIONS</h2>
                                    <p>Content for SUBSCRIPTIONS.</p>
                                  
                                    <h2 id="software">7. SOFTWARE</h2>
                                    <p>Content for SOFTWARE.</p>
                                  
                                    <h2 id="prohibited-activities">8. PROHIBITED ACTIVITIES</h2>
                                    <p>Content for PROHIBITED ACTIVITIES.</p>
                                  
                                    <h2 id="user-generated-contributions">9. USER GENERATED CONTRIBUTIONS</h2>
                                    <p>Content for USER GENERATED CONTRIBUTIONS.</p>
                                  
                                    <h2 id="contribution-license">10. CONTRIBUTION LICENSE</h2>
                                    <p>Content for CONTRIBUTION LICENSE.</p>
                                  
                                    <h2 id="social-media">11. SOCIAL MEDIA</h2>
                                    <p>Content for SOCIAL MEDIA.</p>
                                  
                                    <h2 id="third-party-websites">12. THIRD-PARTY WEBSITES AND CONTENT</h2>
                                    <p>Content for THIRD-PARTY WEBSITES AND CONTENT.</p>
                                  
                                    <h2 id="advertisers">13. ADVERTISERS</h2>
                                    <p>Content for ADVERTISERS.</p>
                                  
                                    <h2 id="services-management">14. SERVICES MANAGEMENT</h2>
                                    <p>Content for SERVICES MANAGEMENT.</p>
                                  
                                    <h2 id="privacy-policy">15. PRIVACY POLICY</h2>
                                    <p>Content for PRIVACY POLICY.</p>
                                  
                                    <h2 id="term-and-termination">16. TERM AND TERMINATION</h2>
                                    <p>Content for TERM AND TERMINATION.</p>
                                  
                                    <h2 id="modifications-and-interruptions">17. MODIFICATIONS AND INTERRUPTIONS</h2>
                                    <p>Content for MODIFICATIONS AND INTERRUPTIONS.</p>
                                  
                                    <h2 id="governing-law">18. GOVERNING LAW</h2>
                                    <p>Content for GOVERNING LAW.</p>
                                  
                                    <h2 id="dispute-resolution">19. DISPUTE RESOLUTION</h2>
                                    <p>Content for DISPUTE RESOLUTION.</p>
                                  
                                    <h2 id="corrections">20. CORRECTIONS</h2>
                                    <p>Content for CORRECTIONS.</p>
                                  
                                    <h2 id="disclaimer">21. DISCLAIMER</h2>
                                    <p>Content for DISCLAIMER.</p>
                                  
                                    <h2 id="limitations-of-liability">22. LIMITATIONS OF LIABILITY</h2>
                                    <p>Content for LIMITATIONS OF LIABILITY.</p>
                                  
                                    <h2 id="indemnification">23. INDEMNIFICATION</h2>
                                    <p>Content for INDEMNIFICATION.</p>
                                  
                                    <h2 id="user-data">24. USER DATA</h2>
                                    <p>Content for USER DATA.</p>
                                  
                                    <h2 id="electronic-communications">25. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>
                                    <p>Content for ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES.</p>
                                  
                                    <h2 id="california-users">26. CALIFORNIA USERS AND RESIDENTS</h2>
                                    <p>Content for CALIFORNIA USERS AND RESIDENTS.</p>
                                  
                                    <h2 id="miscellaneous">27. MISCELLANEOUS</h2>
                                    <p>Content for MISCELLANEOUS.</p>
                                  
                                    <h2 id="contact-us">28. CONTACT US</h2>
                                    <p>Content for CONTACT US.</p>
                                            </section>
                            </div>
                        </div><!-- .row -->

                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
    
        </main>
        <footer class="nk-footer">
            <div class="section">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-xl-3 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">Use Case</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">AI Writer</a></li>
                                    <li><a class="link-base" href="#">AI Articel Writer</a></li>
                                    <li><a class="link-base" href="#">Content Generator</a></li>
                                    <li><a class="link-base" href="#">AI Content Writing</a></li>
                                    <li><a class="link-base" href="#">Content Rewriter</a></li>
                                    <li><a class="link-base" href="#">Blog Post Writer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">About</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Pricing</a></li>
                                    <li><a class="link-base" href="#">Login</a></li>
                                    <li><a class="link-base" href="#">Sign up</a></li>
                                    <li><a class="link-base" href="#">Privacy Policy</a></li>
                                    <li><a class="link-base" href="#">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">CopyGen</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Contact Us</a></li>
                                    <li><a class="link-base" href="#">FAQs</a></li>
                                    <li><a class="link-base" href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-7 col-md-9 me-auto order-xl-first">
                            <div class="block-text">
                                <a href="index.html" class="logo-link mb-4">
                                    <div class="logo-wrap">
                                        <img class="logo-img logo-light" src="images/logo.png" srcset="images/logo2x.png 2x" alt="">
                                        <img class="logo-img logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="">
                                    </div>
                                </a>
                                <h4 class="title">Save time. Get inspired.</h4>
                                <p>Automatically genarate blog articles, website copy, landing pages &amp; digital ads for your business in seconds. Unleash the most advanced AI writer to boost your traffic and productitvity. </p>
                                <p class="text-heading mt-4">&copy; 2023 CopyGenAI. Template Made By <a target="_blank" href="https://softnio.com">Softnio</a> </p>
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
            </div><!-- .section -->
        </footer>
    </div>
    <script src="assets/js/bundle.js?v1.5.0"></script>
    <script src="assets/js/scripts.js?v1.5.0"></script>
</body>

</html>