{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Terms &amp; Conditions - CopyGen - AI Writer &amp; Copywriting Landing Page HTML Template.</title>
    <link rel="stylesheet" href="{% static 'front/assets/css/style.css' %}?v1.5.0">
</head>

<style>
    .tableofContents_links li{
        padding-bottom: 8px;
    }
    .tableofContents_links li a{
        font-size: 15px!important;
        text-decoration: underline!important;
    }
    .TableofContents-Section h3{
        margin-top: 45px!important;
    }
    .TableofContents-Section .lead{
        margin-top: 1rem!important;
    }
    .TableofContents-Section h5{
        margin-top: 35px;
    }
</style>

<body class="nk-body " data-menu-collapse="lg">
    <div class="nk-app-root ">
        <header class="nk-header">
            <div class="nk-header-main nk-menu-main will-shrink is-transparent ignore-mask">
                <div class="container">
                    <div class="nk-header-wrap">
                        <div class="nk-header-logo">
                            <a href="index.html" class="logo-link">
                                <div class="logo-wrap">
                                    <img class="logo-img logo-light" src="images/logo.png" srcset="images/logo2x.png 2x" alt="">
                                    <img class="logo-img logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="">
                                </div>
                            </a>
                        </div><!-- .nk-header-logo -->
                        <div class="nk-header-toggle">
                            <button class="dark-mode-toggle">
                                <em class="off icon ni ni-sun-fill"></em>
                                <em class="on icon ni ni-moon-fill"></em>
                            </button>
                            <button class="btn btn-light btn-icon header-menu-toggle">
                                <em class="icon ni ni-menu"></em>
                            </button>
                        </div>
                        <nav class="nk-header-menu nk-menu">
                            <ul class="nk-menu-list mx-auto">
                                <li class="nk-menu-item has-dropdown">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-text">Home</span>
                                    </a>
                                    <div class="nk-menu-dropdown">
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index.html">Home S1</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s2.html">Home S2</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s3.html">Home S3</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s4.html">Home S4</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s5.html">Home S5</a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s6.html">Home S6 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a class="nk-menu-link" href="index-s7.html">Home S7 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="usecase.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Use Cases</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="features.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Features</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item has-dropdown">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-text">Pages</span>
                                    </a>
                                    <div class="nk-menu-dropdown nk-menu-mega">
                                        <div class="nk-menu-mega-wrap">
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="about.html">About</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase.html">Use Case</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-details.html">Use Case Details <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-s2.html">Use Case S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="usecase-details-s2.html">Use Case Details S2 <div class="badge bg-primary ms-2 me-n4 px-2 rounded-pill">New</div></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="pricing.html">Pricing</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="pricing-s2.html">Pricing S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="blog.html">Blog</a>
                                                </li>
                                            </ul>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="blog-single.html">Blog Single</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="features.html">Features</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="contact.html">Contact</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="contact-s2.html">Contact S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="login.html">Login</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="login-s2.html">Login S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="register.html">Register</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="register-s2.html">Register S2</a>
                                                </li>
                                            </ul>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="reset.html">Reset</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="reset-s2.html">Reset S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="404.html">404 Error</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="404-s2.html">404 Error S2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="504.html">504 Error</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="504-s2.html">504 Error s2</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="terms-condition.html">Terms &amp; Condition</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="pricing.html" class="nk-menu-link">
                                        <span class="nk-menu-text">Pricing</span>
                                    </a>
                                </li>
                            </ul><!-- .nk-menu-list -->
                            <div class="mx-2 d-none d-lg-block">
                                <button class="dark-mode-toggle">
                                    <em class="off icon ni ni-sun-fill"></em>
                                    <em class="on icon ni ni-moon-fill"></em>
                                </button>
                            </div>
                            <ul class="nk-menu-buttons flex-lg-row-reverse">
                                <li><a href="#" class="btn btn-primary">Start Writing</a></li>
                                <li><a class="link link-dark" href="login.html">Login </a></li>
                            </ul><!-- .nk-menu-buttons -->
                        </nav><!-- .nk-header-menu -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container -->
            </div><!-- .nk-header-main -->
        </header><!-- .nk-header -->
        <main class="nk-pages">
            <section class="section section-bottom-0 has-mask">
                <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-xxl-8 col-xl-9 col-lg-10">
                                <div class="text-center mb-6">
                                    <!-- <h6 class="overline-title text-primary">CopyGen</h6> -->
                                    <h1 class="title">Terms and Conditions</h1>
                                    <ul class="list list-row gx-2">
                                        <li>
                                            <div class="sub-text fs-5"> Last Updated Feb 10, 2023</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-typo">
                                    <h2>AGREEMENT TO OUR LEGAL TERMS</h2>
                                    <p class="lead">
                                        We are SummaryGenerator Company, a company registered in England at International House,, 12 Constance Street,, London E16 2DQ. 
                                    </p> 
                                    <p class="lead">
                                        We operate the website https://SummaryGenerator.io (the "Site"), as well as any other related products and services that refer or link to these legal terms (the "Legal Terms") (collectively, the "Services").  </p> 

                                        <p class="lead ">
                                            You can contact us by phone at +447361622097, email at info@summarygenerator.io, or by mail to International House,, 12 Constance Street,, London E16 2DQ, England.                                         </p> 
    
                                            <p class="lead ">
                                                These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("you"), and SummaryGenerator, concerning your access to and use of the Services. You agree that by accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY.                                         </p> 
                                                <p class="lead ">
                                                    We will provide you with prior notice of any scheduled changes to the Services you are using. The modified Legal Terms will become effective upon posting or notifying you by info@summarygenerator.io, as stated in the email message. By continuing to use the Services after the effective date of any changes, you agree to be bound by the modified terms.                                                 </p> 
                                                    <p class="lead ">
                                                        The Services are intended for users who are at least 13 years of age. All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Services. If you are a minor, you must have your parent or guardian read and agree to these Legal Terms prior to you using the Services. We recommend that you print a copy of these Legal Terms for your records.                                                     </p> 
                              
                              
                                                </div>
                            </div><!-- .col -->


                            <div class="col-xxl-8 col-xl-9 col-lg-10 pt-5">
                                <section class="TableofContents-Section">
            
                                    <h1>Table of Contents</h1>
                                  
                                    <ul class="tableofContents_links">
                                      <li><a href="#our-services">1. OUR SERVICES</a></li>
                                      <li><a href="#intellectual-property">2. INTELLECTUAL PROPERTY RIGHTS</a></li>
                                      <li><a href="#user-representations">3. USER REPRESENTATIONS</a></li>
                                      <li><a href="#user-registration">4. USER REGISTRATION</a></li>
                                      <li><a href="#purchases-and-payment">5. PURCHASES AND PAYMENT</a></li>
                                      <li><a href="#subscriptions">6. SUBSCRIPTIONS</a></li>
                                      <li><a href="#software">7. SOFTWARE</a></li>
                                      <li><a href="#prohibited-activities">8. PROHIBITED ACTIVITIES</a></li>
                                      <li><a href="#user-generated-contributions">9. USER GENERATED CONTRIBUTIONS</a></li>
                                      <li><a href="#contribution-license">10. CONTRIBUTION LICENSE</a></li>
                                      <li><a href="#social-media">11. SOCIAL MEDIA</a></li>
                                      <li><a href="#third-party-websites">12. THIRD-PARTY WEBSITES AND CONTENT</a></li>
                                      <li><a href="#advertisers">13. ADVERTISERS</a></li>
                                      <li><a href="#services-management">14. SERVICES MANAGEMENT</a></li>
                                      <li><a href="#privacy-policy">15. PRIVACY POLICY</a></li>
                                      <li><a href="#term-and-termination">16. TERM AND TERMINATION</a></li>
                                      <li><a href="#modifications-and-interruptions">17. MODIFICATIONS AND INTERRUPTIONS</a></li>
                                      <li><a href="#governing-law">18. GOVERNING LAW</a></li>
                                      <li><a href="#dispute-resolution">19. DISPUTE RESOLUTION</a></li>
                                      <li><a href="#corrections">20. CORRECTIONS</a></li>
                                      <li><a href="#disclaimer">21. DISCLAIMER</a></li>
                                      <li><a href="#limitations-of-liability">22. LIMITATIONS OF LIABILITY</a></li>
                                      <li><a href="#indemnification">23. INDEMNIFICATION</a></li>
                                      <li><a href="#user-data">24. USER DATA</a></li>
                                      <li><a href="#electronic-communications">25. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</a></li>
                                      <li><a href="#california-users">26. CALIFORNIA USERS AND RESIDENTS</a></li>
                                      <li><a href="#miscellaneous">27. MISCELLANEOUS</a></li>
                                      <li><a href="#contact-us">28. CONTACT US</a></li>
                                    </ul>
                           
  <h3 id="our-services">1. OUR SERVICES</h3>
  <p class="lead">
    The information provided when using the Services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
</p> 
    <p class="lead">
        The Services are not tailored to comply with industry-specific regulations (Health Insurance Portability and Accountability Act (HIPAA), Federal Information Security Management Act (FISMA), etc.), so if your interactions would be subjected to such laws, you may not use the Services. You may not use the Services in a way that would violate the Gramm-Leach-Bliley Act (GLBA).

    </p>
    
  <h3 id="intellectual-property">2. INTELLECTUAL PROPERTY RIGHTS</h3>
  <h5>Our intellectual property</h5>
    <p class="lead">We are the owner or the licensee of all intellectual property rights in our Services, including all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics in the Services (collectively, the "Content"), as well as the trademarks, service marks, and logos contained therein (the "Marks").
    </p>
    <p class="lead">Our Content and Marks are protected by copyright and trademark laws (and various other intellectual property rights and unfair competition laws) and treaties in the United States and around the world.
        The Content and Marks are provided in or through the Services "AS IS" for your internal business purpose only.
    </p>
    <p class="lead">
        The Content and Marks are provided in or through the Services "AS IS" for your internal business purpose only.
    </p>
    <h5>Your use of our Services
    </h5>
    <p class="lead">Subject to your compliance with these Legal Terms, including the "PROHIBITED ACTIVITIES" section below, we grant you a non-exclusive, non-transferable, revocable license to:
    </p>
    <ul>
        <li>access the Services; and</li>
        <li>download or print a copy of any portion of the Content to which you have properly gained access.
        </li>
    </ul>
    <p class="lead">solely for your internal business purpose.
    </p>


  <h3 id="user-representations">3. USER REPRESENTATIONS</h3>
  <p>Content for USER REPRESENTATIONS.</p>
  <p class="lead">Except as set out in this section or elsewhere in our Legal Terms, no part of the Services and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
</p>
<p class="lead">If you wish to make any use of the Services, Content, or Marks other than as set out in this section or elsewhere in our Legal Terms, please address your request to: info@summarygenerator.io. If we ever grant you the permission to post, reproduce, or publicly display any part of our Services or Content, you must identify us as the owners or licensors of the Services, Content, or Marks and ensure that any copyright or proprietary notice appears or is visible on posting, reproducing, or displaying our Content.
</p>
    <p class="lead">We reserve all rights not expressly granted to you in and to the Services, Content, and Marks.
    </p>
    <p class="lead">Any breach of these Intellectual Property Rights will constitute a material breach of our Legal Terms and your right to use our Services will terminate immediately.
    </p>
    <h5>Your submissions and contributions
    </h5>
    <p class="lead">Please review this section and the "PROHIBITED ACTIVITIES" section carefully prior to using our Services to understand the (a) rights you give us and (b) obligations you have when you post or upload any content through the Services.
    </p>
    <p class="lead">Submissions: By directly sending us any question, comment, suggestion, idea, feedback, or other information about the Services ("Submissions"), you agree to assign to us all intellectual property rights in such Submission. You agree that we shall own this Submission and be entitled to its unrestricted use and dissemination for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you.
    </p>
    <p class="lead">Contributions: The Services may invite you to chat, contribute to, or participate in blogs, message boards, online forums, and other functionality during which you may create, submit, post, display, transmit, publish, distribute, or broadcast content and materials to us or through the Services, including but not limited to text, writings, video, audio, photographs, music, graphics, comments, reviews, rating suggestions, personal information, or other material ("Contributions"). Any Submission that is publicly posted shall also be treated as a Contribution.
    </p>
    <p class="lead">You understand that Contributions may be viewable by other users of the Services and possibly through third-party websites.
    </p>
    <p class="lead">When you post Contributions, you grant us a license (including use of your name, trademarks, and logos): By posting any Contributions, you grant us an unrestricted, unlimited, irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully-paid, worldwide right, and license to: use, copy, reproduce, distribute, sell, resell, publish, broadcast, retitle, store, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part), and exploit your Contributions (including, without limitation, your image, name, and voice) for any purpose, commercial, advertising, or otherwise, to prepare derivative works of, or incorporate into other works, your Contributions, and to sublicense the licenses granted in this section. Our use and distribution may occur in any media formats and through any media channels.
    </p>
    <p class="lead">This license includes our use of your name, company name, and franchise name, as applicable, and any of the trademarks, service marks, trade names, logos, and personal and commercial images you provide.
    </p>
    <p class="lead">You are responsible for what you post or upload: By sending us Submissions and/or posting Contributions through any part of the Services or making Contributions accessible through the Services by linking your account through the Services to any of your social networking accounts, you:
    </p>
    <ul>
        <li>confirm that you have read and agree with our "PROHIBITED ACTIVITIES" and will not post, send, publish, upload, or transmit through the Services any Submission nor post any Contribution that is illegal, harassing, hateful, harmful, defamatory, obscene, bullying, abusive, discriminatory, threatening to any person or group, sexually explicit, false, inaccurate, deceitful, or misleading;
        </li>
        <li>to the extent permissible by applicable law, waive any and all moral rights to any such Submission and/or Contribution;
        </li>
        <li>warrant that any such Submission and/or Contributions are original to you or that you have the necessary rights and licenses to submit such Submissions and/or Contributions and that you have full authority to grant us the above-mentioned rights in relation to your Submissions and/or Contributions; and
        </li>
        <li>warrant and represent that your Submissions and/or Contributions do not constitute confidential information.
        </li>
    </ul>

    <p class="lead">You are solely responsible for your Submissions and/or Contributions and you expressly agree to reimburse us for any and all losses that we may suffer because of your breach of (a) this section, (b) any third party’s intellectual property rights, or (c) applicable law.
    </p>
    <p class="lead">We may remove or edit your Content: Although we have no obligation to monitor any Contributions, we shall have the right to remove or edit any Contributions at any time without notice if in our reasonable opinion we consider such Contributions harmful or in breach of these Legal Terms. If we remove or edit any such Contributions, we may also suspend or disable your account and report you to the authorities.
    </p>


  <h3 id="user-registration">4. USER REGISTRATION</h3>
  <p>Content for USER REGISTRATION.</p>

  <h3 id="purchases-and-payment">5. PURCHASES AND PAYMENT</h3>
  <p>Content for PURCHASES AND PAYMENT.</p>

  <h3 id="subscriptions">6. SUBSCRIPTIONS</h3>
  <p>Content for SUBSCRIPTIONS.</p>

  <h3 id="software">7. SOFTWARE</h3>
  <p>Content for SOFTWARE.</p>

  <h3 id="prohibited-activities">8. PROHIBITED ACTIVITIES</h3>
  <p>Content for PROHIBITED ACTIVITIES.</p>

  <h3 id="user-generated-contributions">9. USER GENERATED CONTRIBUTIONS</h3>
  <p>Content for USER GENERATED CONTRIBUTIONS.</p>

  <h3 id="contribution-license">10. CONTRIBUTION LICENSE</h3>
  <p>Content for CONTRIBUTION LICENSE.</p>

  <h3 id="social-media">11. SOCIAL MEDIA</h3>
  <p>Content for SOCIAL MEDIA.</p>

  <h3 id="third-party-websites">12. THIRD-PARTY WEBSITES AND CONTENT</h3>
  <p>Content for THIRD-PARTY WEBSITES AND CONTENT.</p>

  <h3 id="advertisers">13. ADVERTISERS</h3>
  <p>Content for ADVERTISERS.</p>

  <h3 id="services-management">14. SERVICES MANAGEMENT</h3>
  <p>Content for SERVICES MANAGEMENT.</p>

  <h3 id="privacy-policy">15. PRIVACY POLICY</h3>
  <p>Content for PRIVACY POLICY.</p>

  <h3 id="term-and-termination">16. TERM AND TERMINATION</h3>
  <p>Content for TERM AND TERMINATION.</p>

  <h3 id="modifications-and-interruptions">17. MODIFICATIONS AND INTERRUPTIONS</h3>
  <p>Content for MODIFICATIONS AND INTERRUPTIONS.</p>

  <h3 id="governing-law">18. GOVERNING LAW</h3>
  <p>Content for GOVERNING LAW.</p>

  <h3 id="dispute-resolution">19. DISPUTE RESOLUTION</h3>
  <p>Content for DISPUTE RESOLUTION.</p>

  <h3 id="corrections">20. CORRECTIONS</h3>
  <p>Content for CORRECTIONS.</p>

  <h3 id="disclaimer">21. DISCLAIMER</h3>
  <p>Content for DISCLAIMER.</p>

  <h3 id="limitations-of-liability">22. LIMITATIONS OF LIABILITY</h3>
  <p>Content for LIMITATIONS OF LIABILITY.</p>

  <h3 id="indemnification">23. INDEMNIFICATION</h3>
  <p>Content for INDEMNIFICATION.</p>

  <h3 id="user-data">24. USER DATA</h3>
  <p>Content for USER DATA.</p>

  <h3 id="electronic-communications">25. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h3>
  <p>Content for ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES.</p>

  <h3 id="california-users">26. CALIFORNIA USERS AND RESIDENTS</h3>
  <p>Content for CALIFORNIA USERS AND RESIDENTS.</p>

  <h3 id="miscellaneous">27. MISCELLANEOUS</h3>
  <p>Content for MISCELLANEOUS.</p>

  <h3 id="contact-us">28. CONTACT US</h3>
  <p>Content for CONTACT US.</p>
                                            </section>
                            </div>
                        </div><!-- .row -->

                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
    
        </main>
        <footer class="nk-footer">
            <div class="section">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-xl-3 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">Use Case</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">AI Writer</a></li>
                                    <li><a class="link-base" href="#">AI Articel Writer</a></li>
                                    <li><a class="link-base" href="#">Content Generator</a></li>
                                    <li><a class="link-base" href="#">AI Content Writing</a></li>
                                    <li><a class="link-base" href="#">Content Rewriter</a></li>
                                    <li><a class="link-base" href="#">Blog Post Writer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">About</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Pricing</a></li>
                                    <li><a class="link-base" href="#">Login</a></li>
                                    <li><a class="link-base" href="#">Sign up</a></li>
                                    <li><a class="link-base" href="#">Privacy Policy</a></li>
                                    <li><a class="link-base" href="#">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">CopyGen</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Contact Us</a></li>
                                    <li><a class="link-base" href="#">FAQs</a></li>
                                    <li><a class="link-base" href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-7 col-md-9 me-auto order-xl-first">
                            <div class="block-text">
                                <a href="index.html" class="logo-link mb-4">
                                    <div class="logo-wrap">
                                        <img class="logo-img logo-light" src="images/logo.png" srcset="images/logo2x.png 2x" alt="">
                                        <img class="logo-img logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="">
                                    </div>
                                </a>
                                <h4 class="title">Save time. Get inspired.</h4>
                                <p>Automatically genarate blog articles, website copy, landing pages &amp; digital ads for your business in seconds. Unleash the most advanced AI writer to boost your traffic and productitvity. </p>
                                <p class="text-heading mt-4">&copy; 2023 CopyGenAI. Template Made By <a target="_blank" href="https://softnio.com">Softnio</a> </p>
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
            </div><!-- .section -->
        </footer>
    </div>
    <script src="assets/js/bundle.js?v1.5.0"></script>
    <script src="assets/js/scripts.js?v1.5.0"></script>
</body>

</html>