<style>
  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file > label > em {
    margin-top: 8px;
  }

  .file > input[type="file"] {
    display: none;
  }
</style>
<script>
  function changeContent(event) {
    const file = event.target.files[0];
    const path = URL.createObjectURL(file);
    fetch(path)
      .then((res) => res.text())
      .then((text) => {
        document.querySelector(".neighbourPanel").innerHTML = text;
      })
      .catch((e) => console.error(e));
  }
</script>
<div class="file">
  <label for="input-file" class="round-button tooltip-container">
    <span class="tooltip">Attach</span>
    <em class="fa fa-paperclip"></em>
  </label>
  <input
    id="input-file"
    class="btn btn-lg"
    type="file"
    onchange="changeContent(event)"
  />
</div>
