{% load static %} 
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'front/assets/css/style.css' %}?v1.5.0">
</head>

<body class="nk-body " data-menu-collapse="lg">
    <div class="nk-app-root ">
      <header class="nk-header has-shape">
        <div
          class="nk-shape bg-shape-blur-c ms-n20p mt-n20p start-50 translate-middle-x"
        ></div>
        <div
          class="nk-header-main nk-menu-main will-shrink has-border ignore-mask"
        >
          <div class="container">
            <div class="nk-header-wrap">
              <div class="nk-header-logo">
                <a href="{% url 'home' %}" class="logo-link">
                  <div class="logo-wrap">
                    <img
                      class="logo-img logo-light" style="width:170px; height:auto!important;"
                      src="{% static 'front/images/sglogowhite.png' %}"
                      alt="logoimg"
                    />
                    <img
                      class="logo-img logo-dark" style="width:170px; height:auto!important;"
                      src="{% static 'front/images/sglogo6.png' %}"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <!-- .nk-header-logo -->
              <div class="nk-header-toggle">
                <button class="dark-mode-toggle">
                  <em class="off icon ni ni-sun-fill"></em>
                  <em class="on icon ni ni-moon-fill"></em>
                </button>
                <button class="btn btn-light btn-icon header-menu-toggle">
                  <em class="icon ni ni-menu"></em>
                </button>
              </div>
              <nav class="nk-header-menu nk-menu menu-mobile">
                <ul class="nk-menu-list mx-auto">
                 
        <li class="nk-menu-item">
                <a href="{% url 'home' %}" class="nk-menu-link">
                  <span class="nk-menu-text">{% translate 'Home' %}</span>
                </a>
              </li>
                  <li class="nk-menu-item">
                    <a href="{% url 'pricing' %}" class="nk-menu-link">
                      <span class="nk-menu-text">{% translate 'Pricing' %}</span>
                    </a>
                  </li>
                 
            
                  {% if request.user.is_authenticated %}
                  <li class="nk-menu-item">
                    <a href="{% url 'custom_logout' %}" class="nk-menu-link">
                      <span class="nk-menu-text">{% translate 'Logout' %}</span>
                    </a>
                  </li>
                 

                  {% else %}
                  <li class="nk-menu-item">
                    <a href="{% url 'account_login' %}" class="nk-menu-link">
                      <span class="nk-menu-text">{% translate 'Login' %}</span>
                    </a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="{% url 'account_signup' %}" class="nk-menu-link">
                      <span class="nk-menu-text">{% translate 'Sign Up' %}</span>
                    </a>
                  </li>

                  {% endif%}
                
                </ul>

                <!-- .nk-menu-list -->
                <div class="mx-2 d-none d-lg-block">
                  <button class="dark-mode-toggle">
                    <em class="off icon ni ni-sun-fill"></em>
                    <em class="on icon ni ni-moon-fill"></em>
                  </button>
                </div>
                <ul class="nk-menu-buttons flex-lg-row-reverse">

                  {% if user.is_authenticated %}
                  <li><a href="https://summarygenerator.io/dashboard/" class="btn btn-primary">{% translate 'Dashboard' %}</a></li>
                  {% endif %}
                  {% if not user.is_authenticated %}
                  <li><a href="https://summarygenerator.io/dashboard/" class="btn btn-primary">{% translate 'Dashboard' %}</a></li>
                  {% endif %}
                  <li class="dropdown">
                    <a
                      class="link link-base fw-medium dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      data-bs-offset="0, 12"
                    >
                      <!-- Display current language -->
                      {% get_current_language as CURRENT_LANGUAGE %}
                      {% get_language_info for CURRENT_LANGUAGE as LANG_INFO %}
                      {{ LANG_INFO.name_local }} ({{ CURRENT_LANGUAGE|upper }})
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 language_dropdown">
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/es/login/">
                          Spanish (ES)
                        </a>
                      </li>
                    
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/pt/login/">
                          Portuguese (PT)
                        </a>
                      </li>
                    
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/de/login/">
                          Deutsch (DE)
                        </a>
                      </li>
                    
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/fr/login/">
                          French (FR)
                        </a>
                      </li>
                    
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/nl/login/">
                          Dutch (NL)
                        </a>
                      </li>
                    
                      <li>
                        <a class="dropdown-item link-base py-2 px-4" href="https://summarygenerator.io/accounts/login/">
                          English (EN)
                        </a>
                      </li>
                    </ul>
                    
                  </li>
                </ul>
                <!-- .nk-menu-buttons -->
              </nav>
              <!-- .nk-header-menu -->
            </div>
            <!-- .nk-header-wrap -->
          </div>
          <!-- .container -->
        </div>
        <!-- .nk-header-main -->
        {% block hero %} {% endblock %}
        <!-- .nk-hero -->
      </header>
        <main class="nk-pages">
            <section class="section section-bottom-0 pb-5 has-mask">
                <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
                <div class="container">
                    <center>
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <div class="card border-0 shadow-sm rounded-4">
                            <div class="card-body">
                                <h4>Reset password</h4>
                                <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                                <form id="password_reset" method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-5">
                                    {% csrf_token %}
                                    <p class="checkout-coupon top-down log a-an">
                                        <input class="form-control" type="email" name="email" placeholder="Email">
                                    </p>
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <p class="login-submit5">
                                        <button class="btn w-50 btn-primary text-center" type="submit">Send Reset Link</button>
                                    </p>
                                </form>                                
                            </div>
                        </div><!-- .card -->
                        <p class="text-center mt-4"><a class="link has-gap g-2" href="{% url 'account_login' %}"><em class="icon ni ni-arrow-left"></em><span>Back to Login</span></a></p>
                    </div>
                </center>
                </div><!-- .container -->
            </section><!-- .section -->
        </main>
        <footer style="margin-top:60px;" class="nk-footer">
          <div class="section section-sm section-top-0">
            <div class="container">
              <div class="row g-5">
                <div class="col-xl-4 col-lg-7 col-md-9 me-auto">
                  <div class="block-text pe-xxl-5">
                    <a href="{% url 'home' %}" class="logo-link mb-4">
                      <div class="logo-wrap">
                        <img
                          class="logo-img logo-light" style="width:170px; height:auto!important;"
                          src="{% static 'front/images/sglogowhite.png' %}"
                          alt="logoimg"
                        />
                        <img
                          class="logo-img logo-dark" style="width:170px; height:auto!important;"
                          src="{% static 'front/images/sglogo6.png' %}"
                          alt=""
                        />
                      </div>
                    </a>
                    <p class="py-4">
                    
                      {% translate '  Summarygenerator.io is an AI-powered tool that uses advanced algorithms and natural language processing to analyze the content and identify main ideas to generate relevant summaries. It generates summaries of varying lengths for any type of content.' %}
                    </p>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1"></div>
                <!-- .col -->
              <div class="col-xl-7 col-lg-7">
                  <div class="row g-gs">
                    <div class="col-lg-6 col-sm-4 col-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                          Links
                        </h6>
                        <ul class="list gy-2 list-link-base">
                          <li><a class="link-base" href="{% url 'about' %}">{% translate 'About Us' %} </a></li>
                          <li><a class="link-base" href="{% url 'termsandConditions' %}" >{% translate 'Terms and Conditions' %}</a></li>
                          <li><a class="link-base" href="{% url 'privacypolicy' %}" >{% translate 'Privacy Policy' %}</a></li>
                          <li><a class="link-base" href="{% url 'pricing' %}" >{% translate 'Pricing' %}</a></li>
                          
                        </ul>
                      </div>
                    </div>
                
                    <div class="col-lg-6 col-md-5 col-sm-6">
                      <div class="wgs">
                        <h6 class="wgs-title overline-title text-heading">
                         {% translate 'Get In Touch' %}
                        </h6>
                        <ul class="list gy-3">
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-mail-fill"
                            ></em>
                            <span> {% translate 'support@summarygenerator.io' %}</span>
                          </li>
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-call-alt-fill"
                            ></em>
                            <span> {% translate '+4473 61622097' %}</span>
                          </li>
                          <li>
                            <em
                              class="icon text-primary fs-5 ni ni-map-pin-fill"
                            ></em>
                            <span
                              >{% translate 'International House, 12 Constance Street, London, E16 2DQ.' %}</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                   
                    <!-- .col -->
                  </div>
                  <!-- .row -->
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .container -->
          </div>
          <!-- .section -->
          <div class="section section-0">
            <hr class="border-opacity-25 border-primary m-0" />
            <div class="container">
              <div class="py-4">
                <div class="row">
                  <div class="col-md">
                    <p class="mb-2 mb-md-0 text-center">
                      {% translate 'Copyright &copy; 2023.' %}
                      <a href="https://summarygenerator.io/" class="fw-bold text-base">{% translate 'Summarygenerator.io' %}</a>.
                    </p>
                  </div>
                  <!-- .col -->
                
                  <!-- .col -->
                </div>
                <!-- .row -->
              </div>
            </div>
            <!-- .container -->
          </div>
          <!-- .section -->
        </footer>
    </div>
    <script>
        $('#password_reset').validate({
            rules: {
                email: "required",
            },
            messages: {
                email: 'Please enter your email id',
            },
        });
    
        $("form").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr("data-validate-email-url"),
                data: form.serialize(),
                type: 'post',
                context: form,
                dataType: 'json',
                success: function(data) {
                    if (data.content) {
                        console.log(data);
                        if (!data.email) {
                            swal({'title': 'Invalid Email', 'text': data.error_message, icon: "warning"});
                        }
                         else {
                            this.off('submit');
                            this.submit();
                        }
                    } 
                }
         });
         });
    </script>
    <script src="{% static 'front/assets/js/bundle.js' %}?v1.5.0"></script>
    <script src="{% static 'front/assets/js/scripts.js' %}?v1.5.0"></script>
</body>

</html>