{% extends 'dashboard/main.html' %}

{% load humanize %}
{% block meta_tags %}
<title>Dashboard - AI Humanize</title>
<meta property="og:title" content="Dashboard - AI Humanize" />
<meta property="og:description"
    content="Your personal dashboard at AI Humanize. Manage your projects, settings, and access a range of AI text humanizing tools." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aihumanize.com/dashboard/" />
<meta name="description"
    content="Access your AI Humanize Dashboard to manage your AI text humanizing projects and settings. Explore your tools and resources here." />

{% endblock %}
{% block content %}
{% load my_filters %}
<style>
    .modal-header,
    .modal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-footer {
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
    }

    .modal-footer .document-id {
        font-weight: bold;
    }

    .modal-footer .timestamp {
        font-size: 0.8em;
        color: #6c757d;
    }

    .humanized-result h6,
    .original-submission h6 {
        font-size: 1em;
        color: #495057;
        margin-bottom: 0.5em;
    }

    .humanized-result,
    .original-submission {

        background-color: #e9ecef;
        border-radius: 0.25em;
        margin-bottom: 1em;
    }

    .original-submission {
        background-color: #f8d7da;
    }

    .modal-body textarea {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-family: inherit;
        /* This makes the font consistent with the rest of your modal */
        margin-bottom: 1rem;
        /* This adds space below each textarea */
        padding: 0.375rem 0.75rem;
        /* This adds some padding inside the textarea */
        resize: none;
        /* Prevents the textarea from being resizable */
    }

    /* You might want to apply a different background to the 'Original Submission' textarea to differentiate it, as in your image */
    .original-submission textarea {
        background-color: #f8d7da;
    }
</style>
<div class="container-xl">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-page-head">
                <div class="nk-block-head-between">
                    <div class="nk-block-head-content">
                        {% if user.fullname %}
                        <h2 class="display-6">Welcome {{user.fullname}} !</h2>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .nk-page-head -->
            <div class="nk-block">
                <div class="row g-gs">
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-purple bg-opacity-10 border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-light mb-0">Words Available</div>
                                </div>
                                <h5 class="fs-1">{{ available_words|intcomma }} <small class="fs-3">words</small></h5>
                                <div class="fs-7 text-light mt-1"><span class="text-dark">{{ used_words|intcomma }}</span>/{{ words_purchased|intcomma }}  words
                                    generated
                                </div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-blue bg-opacity-10 border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-light mb-0">Average words</div>
                                   
                                </div>
                                <h5 class="fs-1">{{average_words_per_document}} <small class="fs-3">Words</small></h5>
                                <div class="fs-7 text-light mt-1">Average words per document</div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-indigo bg-opacity-10 border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-light mb-0">Documents </div>
                                    <a href="{% url 'documents' %}" class="link link-indigo">See
                                        All</a>
                                </div>
                                <h5 class="fs-1">{{documents_count}} <small class="fs-3">Documents</small></h5>
                                <div class="fs-7 text-light mt-1">Every humanized text saved as document</div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-cyan bg-opacity-10 border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-light mb-0">Current Plan</div>
                                    <a href="{% url 'pricing' %}" class="link link-cyan">See All Plans</a>
                                </div>
                                <h5 class="fs-1">{{subscription_name}}</h5>
                                <div class="fs-7 text-light mt-1">You can upgrade your plan at any time without losing any remaining words.</div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div>
           <!-- here will be recent blogs -->
            <!-- .nk-block -->
            <div class="nk-block-head">
                <div class="nk-block-head-between">
                    <div class="nk-block-head-content">
                        <h2 class="display-6">Recent Documents</h2>
                    </div>
                    <div class="nk-block-head-content">
                        <a href="{% url 'documents' %}" class="link"><span>See All</span> <em
                                class="icon ni ni-chevron-right"></em></a>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            {% if recent_documents == None %}
            <div class="alert alert-info mt-3">No available documents.</div>
            {% else %}
            <div class="nk-block">
                <div class="card">
                    <table class="table table-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="tb-col tb-col-sm">
                                    <h6 class="overline-title">Name</h6>
                                </th>
                                <th class="tb-col tb-col-sm">
                                    <h6 class="overline-title">Words Count</h6>
                                </th>
                              
                                <th class="tb-col tb-col-sm">
                                    <h6 class="overline-title">Purpose</h6>
                                </th>
                              
                                <th class="tb-col tb-col-sm">
                                    <h6 class="overline-title">Created at</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
            
                            {% for document in recent_documents %}
                            <tr>
                                <td class="tb-col">
                                    <a data-bs-target="#DocumentModal" data-bs-toggle="modal" class="document-link" href="#DocumentModal"
                                        data-document-id="{{ document.document_id }}">
                                        <div class="caption-text line-clamp-2">{{ document.input_text|first_eight_words }}...</div>
                                    </a>
                                </td>
                                <td class="tb-col tb-col-sm">
                                    <div class="badge text-bg-dark-soft rounded-pill px-2 py-1 fs-6 lh-sm">{{document.words_used}}
                                    </div>
                                </td>
                            
                                <td class="tb-col">
                                    <div class="caption-text line-clamp-2">{{ document.purpose }}</div>
                                </td>
                             
                                <td class="tb-col tb-col-md">
                                    <div class="fs-6 text-light d-inline-flex flex-wrap gap gx-2"><span>Feb 15,2023 </span>
                                        <span>02:31
                                            PM</span></div>
                                </td>
            
            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% endif %}
            <!-- .nk-block -->
        </div>
    </div>
</div>

<div class="modal" id="DocumentModal" aria-hidden="true" aria-labelledby="DocumentModalLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="DocumentModalLabel"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Humanized Result Section -->
                <div class="float-end">
                    <button class="js-copy" data-clipboard-target="#output_text"><em
                            class="icon ni ni-copy"></em><span>Copy</span></button>
                </div>
                <h6 class="text-success">Humanized Result</h6>



                <section class="humanized-result">

                    <textarea class="form-control" rows="7" id="output_text" readonly></textarea>
                </section>
                <!-- Original Submission Section -->
                <div class="float-end">
                    <button class="js-copy" data-clipboard-target="#input_text"><em
                            class="icon ni ni-copy"></em><span>Copy</span></button>
                </div>
                <h6 class="text-danger">Original Submission</h6>
                <section class="original-submission">

                    <textarea class="form-control" rows="7" id="input_text" readonly></textarea>
                </section>
            </div>
            <div class="modal-footer">
                <span class="document-id">Document ID: </span>
                <span class="timestamp"></span>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.document-link').forEach(item => {
            item.addEventListener('click', event => {
                const documentId = item.getAttribute('data-document-id');

                fetch(`/dashboard/documents/${documentId}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Document not found.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        var parser = new DOMParser();
                        var doc = parser.parseFromString(data.output_text, 'text/html');
                        var outputText = doc.body.textContent || "";

                        // Update the modal content
                        document.querySelector('#DocumentModal #input_text').value = data.input_text;
                        document.querySelector('#DocumentModal #output_text').value = outputText;

                        // Update the modal title with additional information including HTML tags
                        var modalTitle = `<strong>Purpose</strong>: ${data.purpose}`;
                        document.querySelector('#DocumentModal .modal-title').innerHTML = modalTitle;

                        document.querySelector('#DocumentModal .document-id').textContent = 'Document ID: ' + data.document_id;
                        document.querySelector('#DocumentModal .timestamp').textContent = 'Created at: ' + data.created_at;

                        // Show the modal
                        // var myModal = new bootstrap.Modal(document.getElementById('DocumentModal'));
                        // myModal.show();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    });





</script>

{% endblock %}