{% extends 'dashboard/main.html' %}

{% load my_filters %}
{% block meta_tags %}
{% load i18n %}
{% endblock %}
{% block content %}
<style>.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.modal-footer .document-id {
    font-weight: bold;
}

.modal-footer .timestamp {
    font-size: 0.8em;
    color: #6c757d;
}

.humanized-result h6,
.original-submission h6 {
    font-size: 1em;
    color: #495057;
    margin-bottom: 0.5em;
}

.humanized-result,
.original-submission {
  
    background-color: #e9ecef;
    border-radius: 0.25em;
    margin-bottom: 1em;
}

.original-submission {
    background-color: #f8d7da;
}
.modal-body textarea {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: inherit; /* This makes the font consistent with the rest of your modal */
    margin-bottom: 1rem; /* This adds space below each textarea */
    padding: 0.375rem 0.75rem; /* This adds some padding inside the textarea */
    resize: none; /* Prevents the textarea from being resizable */
}

/* You might want to apply a different background to the 'Original Submission' textarea to differentiate it, as in your image */
.original-submission textarea {
    background-color: #f8d7da;
}

</style>
<div class="container-xl">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-page-head">
                <div class="nk-block-head-between flex-wrap gap g-2">
                    <div class="nk-block-head-content">
                        <h2 class="display-6">{% translate "Documents" %}</h2>
                        <p>{% translate "List of all Documents you have generated." %}</p>
                    </div>
                    <div class="nk-block-head-content">
                        <ul class="nk-block-tools">
                            <li><a class="btn btn-primary" href="{% url 'home' %}"><em class="icon ni ni-plus"></em><span>{% translate "Summarize New Text" %}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .nk-page-head -->
            <div class="nk-block">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">{% translate "Documents List" %}</h5>
                    <ul class="d-flex align-items-center gap gx-2">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon btn-zoom text-base" type="button" data-bs-toggle="dropdown">
                                    <em class="icon ni ni-search"></em>
                                </button>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                    <div class="dropdown-content py-3">
                                        <form action="{% url 'documents' %}" method="get">
                                            <div class="form-control-wrap">
                                                <div class="form-control-icon start md text-light">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" name="search" class="form-control form-control-md" placeholder="{% translate 'Search Template' %}" value="{{ request.GET.search|default_if_none:'' }}">
                                                <button type="submit" style="display: none;">{% translate 'Search' %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon btn-zoom text-base" type="button" data-bs-toggle="dropdown">
                                    <em class="icon ni ni-filter-alt"></em>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div class="dropdown-content">
                                        <ul class="link-list link-list-hover-bg-primary link-list-md">
                                            <li>
                                                <a href="?sort={% if request.GET.sort == 'created_at' %}-{% endif %}created_at{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                                                    <em class="icon ni ni-calendar-check"></em><span>{% translate 'Date Created' %}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="?sort={% if request.GET.sort == 'input_text' %}-{% endif %}input_text{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                                                    <em class="icon ni ni-text-a"></em><span>{% translate 'Alphabetical' %}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="?sort={% if request.GET.sort == 'words_used' %}-{% endif %}words_used{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                                                    <em class="icon ni ni-list-ol"></em><span>{% translate 'Words Count' %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="card shadow-none">
                    <table class="table table-middle mb-0">
                        <thead>
                            <tr>
                                <th>{% translate 'Name' %}</th>
                                <th>{% translate 'Words Count' %}</th>
                                <!-- <th>{% translate 'Level' %}</th> -->
                                <th>{% translate 'Purpose' %}</th>
                                <!-- <th>{% translate 'Readability' %}</th> -->
                                <th>{% translate 'Created at' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for document in documents %}
                            <tr>
                                <td class="tb-col">
                                    <a data-bs-target="#DocumentModal" data-bs-toggle="modal" class="document-link" href="#DocumentModal"
                                        data-document-id="{{ document.document_id }}">
                                        <div class="caption-text line-clamp-2">{% translate "{{ document.input_text|first_eight_words }}..." %}</div>
                                    </a>
                                </td>
                                <td class="tb-col tb-col-sm">
                                    <div class="badge text-bg-dark-soft rounded-pill px-2 py-1 fs-6 lh-sm">{% translate "{{ document.words_used }}" %}</div>
                                </td>
                                <!-- <td class="tb-col">
                                    <div class="caption-text line-clamp-2">{{ document.level }}</div>
                                </td> -->
                                <td class="tb-col">
                                    <div class="caption-text line-clamp-2">{% translate "{{ document.purpose }}" %}</div>
                                </td>
                                <!-- <td class="tb-col">
                                    <div class="caption-text line-clamp-2">{{ document.readibility }}</div>
                                </td> -->
                                <td class="tb-col tb-col-md">
                                    <div class="fs-6 text-light d-inline-flex flex-wrap gap gx-2"><span>{% translate "{{ document.created_at|date:\"M d,Y\" }}" %}
                                        </span> <span>{% translate "{{ document.created_at|time:\"H:i A\" }}" %}</span></div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="table-pagination mt-4">
                    <div class="table-pagination-info">{% translate "{{ documents.start_index }} – {{ documents.end_index }} of {{ documents.paginator.count }} items" %}</div>
                    <div class="table-pagination-select">
                        <div class="form-control-wrap">
                            <div  data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false">
                                <div class="choices__inner">
                                    <!-- Display Current Page Number -->
                                    <span>{% translate "Page" %} {{ documents.number }} {% translate "of" %} {{ documents.paginator.num_pages }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Pagination Buttons -->
                    <div class="table-pagination-btn-wrap">
                        {% if documents.has_previous %}
                            <a href="?page={{ documents.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="table-pagination-btn">
                                <em class="icon ni ni-caret-left-fill"></em>
                            </a>
                        {% endif %}
                    </div>
                    <div class="table-pagination-btn-wrap">
                        {% if documents.has_next %}
                            <a href="?page={{ documents.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="table-pagination-btn">
                                <em class="icon ni ni-caret-right-fill"></em>
                            </a>
                        {% endif %}
                    </div>
                </div>
                
            </div><!-- .nk-block -->
        </div>
    </div>
</div>


<div class="modal" id="DocumentModal" aria-hidden="true" aria-labelledby="DocumentModalLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="DocumentModalLabel">{% translate "Document Details" %}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Humanized Result Section -->
                <div class="float-end">
                    <button class="js-copy" data-clipboard-target="#output_text"><em
                            class="icon ni ni-copy"></em><span>{% translate "Copy" %}</span></button>
                </div>
                <h6 class="text-success">{% translate "Summary Result" %}</h6>

                <section class="humanized-result">
                    <textarea class="form-control" rows="7" id="output_text" readonly></textarea>
                </section>
                <!-- Original Submission Section -->
                <div class="float-end">
                    <button class="js-copy" data-clipboard-target="#input_text"><em
                            class="icon ni ni-copy"></em><span>{% translate "Copy" %}</span></button>
                </div>
                <h6 class="text-danger">{% translate "Original Submission" %}</h6>
                <section class="original-submission">
                    <textarea class="form-control" rows="7" id="input_text" readonly></textarea>
                </section>
            </div>
            <div class="modal-footer">
                <span class="document-id">{% translate "Document ID" %}: </span>
                <span class="timestamp"></span>
            </div>
        </div>
    </div>
</div>


<script>
   document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.document-link').forEach(item => {
            item.addEventListener('click', event => {
                const documentId = item.getAttribute('data-document-id');

                fetch(`/dashboard/documents/${documentId}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Document not found.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        var parser = new DOMParser();
                        var doc = parser.parseFromString(data.output_text, 'text/html');
                        var outputText = doc.body.textContent || "";

                        // Update the modal content
                        document.querySelector('#DocumentModal #input_text').value = data.input_text;
                        document.querySelector('#DocumentModal #output_text').value = outputText;

                        // Update the modal title with additional information including HTML tags
                        var modalTitle = `<strong>Purpose</strong>: ${data.purpose}`;
                        document.querySelector('#DocumentModal .modal-title').innerHTML = modalTitle;

                        document.querySelector('#DocumentModal .document-id').textContent = 'Document ID: ' + data.document_id;
                        document.querySelector('#DocumentModal .timestamp').textContent = 'Created at: ' + data.created_at;

                        // Show the modal
                        // var myModal = new bootstrap.Modal(document.getElementById('DocumentModal'));
                        // myModal.show();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    });





</script>
{% endblock %}