<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/images/ai-humanize-icon.svg' %}" type="image/svg+xml" />
    <meta property="og:image" content="{% static 'assets/images/ai-humanize-icon.svg' %}" />
    {% block meta_tags %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}?v1.0.0">
</head>

<body class="nk-body ">
    <div class="nk-app-root " data-sidebar-collapse="lg">
        <div class="nk-main">
            <div class="nk-sidebar nk-sidebar-fixed" id="sidebar">
                <div class="nk-compact-toggle">
                    <button class="btn btn-xs btn-outline-light btn-icon compact-toggle text-light bg-white rounded-3">
                        <em class="icon off ni ni-chevron-left"></em>
                        <em class="icon on ni ni-chevron-right"></em>
                    </button>
                </div>
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="{% url 'dashboard' %}" class="logo-link">
                            <div class="logo-wrap">
                                <img class="logo-img logo-light" src="{% static 'assets/images/dashboard_logo.png' %}"
                                    srcset="{% static  'assets/images/dashboard_logo.png' %}" alt="">
                                <img class="logo-img logo-dark" src="{% static  'assets/images/dashboard_logo.png' %}"
                                    srcset="{% static 'assets/images/dashboard_logo.png' %}" alt="">
                                <img class="logo-img logo-icon" src="{% static 'assets/images/aihumanize_icon.png' %}"
                                    srcset="{% static 'assets/images/aihumanize_icon.png' %}" alt="">
                            </div>
                        </a>
                    </div><!-- end nk-sidebar-brand -->
                </div><!-- end nk-sidebar-element -->
                <div class="nk-sidebar-element nk-sidebar-body">
                    <div class="nk-sidebar-content h-100" data-simplebar>
                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-item">
                                    <a href="{% url 'dashboard' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-dashboard-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Dashboard" %}</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'home' %}" class="nk-menu-link ">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-edit"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Summary Generator" %}</span>
                                    </a>
                                </li>
                              
                                <!-- <li class="nk-menu-item">
                                    <a href="{% url 'add_style' %}" class="nk-menu-link ">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-bulb-fill"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Writing Styles" %}</span>
                                    </a>
                                </li> -->
                                <li class="nk-menu-item">
                                    <a href="{% url 'documents' %}" class="nk-menu-link ">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-folder-list"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Documents" %}</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'pricing' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-sign-usdc"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Pricing Plans" %}</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'profile' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-user"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Profile" %}</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'logout' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-signout"></em>
                                        </span>
                                        <span class="nk-menu-text">{% translate "Logout" %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element nk-sidebar-footer">
                    <div class="nk-sidebar-footer-extended pt-3">
                        <div class="border border-light rounded-3">
                            <div class="px-3 py-2 bg-white border-bottom border-light rounded-top-3">
                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                    <h6 class="lead-text">{% translate subscription_name %}</h6>
                                    <a class="link link-primary" href="{% url 'pricing' %}">
                                        <em class="ni ni-spark-fill icon text-warning"></em>
                                        <span>{% translate "Upgrade" %}</span>
                                    </a>
                                </div>
                                <div class="progress progress-md">
                                    <div class="progress-bar" data-progress="{{ used_percentage|floatformat:2 }}%">
                                    </div>
                                </div>
                                <h6 class="lead-text mt-2">{{ available_words|intcomma }} <span class="text-light">{% translate "words left" %}</span>
                                </h6>
                            </div>
                            <a class="d-flex px-3 py-2 bg-primary bg-opacity-10 rounded-bottom-3"
                                href="{% url 'profile' %}">
                                <div class="media-group">
                                    <div class="media media-sm media-middle media-circle text-bg-primary">
                                        <img src="{% static 'dashboard/images/user.png' %}" />
                                    </div>
                                    <div class="media-text">
                                        <h6 class="fs-6 mb-0">
                                            {% if request.user.fullname != None %}
                                            {{request.user.fullname}}
                                            {% else %}
                                            {% translate "Please Enter your full name" %}
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <em class="icon ni ni-chevron-right ms-auto ps-1"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- .nk-sidebar-element -->
            </div><!-- .nk-sidebar -->
            <div class="nk-wrap">
                <div class="nk-header nk-header-fixed">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-header-logo ms-n1">
                                <div class="nk-sidebar-toggle me-1">
                                    <button class="btn btn-sm btn-zoom btn-icon sidebar-toggle d-sm-none">
                                        <em class="icon ni ni-menu"> </em>
                                    </button>
                                    <button class="btn btn-md btn-zoom btn-icon sidebar-toggle d-none d-sm-inline-flex">
                                        <em class="icon ni ni-menu"> </em>
                                    </button>
                                </div><!-- .nk-sidebar-toggle -->
                                <a href="{% url 'dashboard' %}" class="logo-link">
                                    <div class="logo-wrap">
                                        <img class="logo-img logo-light" src="{% static 'assets/images/dashboard_logo.png' %}"
                                            srcset="{% static 'assets/images/dashboard_logo.png' %}" alt="">
                                        <img class="logo-img logo-dark" src="{% static 'assets/images/dashboard_logo.png' %}"
                                            srcset="{% static 'assets/images/dashboard_logo.png' %}" alt="">
                                        <img class="logo-img logo-icon" src="{% static 'assets/images/aihumanize_icon.png' %}"
                                            srcset="{% static 'assets/images/aihumanize_icon.png' %}" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav ms-2">
                                    <li class="dropdown d-inline-flex">
                                        <div class="dropdown-menu dropdown-menu-md rounded-3">
                                            <div class="dropdown-content py-3">
                                                <div class="border border-light rounded-3">
                                                    <div
                                                        class="px-3 py-2 bg-white border-bottom border-light rounded-top-3">
                                                        <div
                                                            class="d-flex flex-wrap align-items-center justify-content-between">
                                                            <h6 class="lead-text">{% translate subscription_name %}</h6>
                                                            <a class="link link-primary" href="{% url 'pricing' %}">
                                                                <em class="ni ni-spark-fill icon text-warning"></em>
                                                                <span>{% translate "Upgrade" %}</span>
                                                            </a>
                                                        </div>
                                                        <div class="progress progress-md">
                                                            <div class="progress-bar"
                                                                data-progress="{{ used_percentage|floatformat:2 }}%">
                                                            </div>
                                                        </div>
                                                        <h6 class="lead-text mt-2">{{ available_words|intcomma }} <span
                                                                class="text-light">{% translate "words left" %}</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <div class="nk-content" id="myContent">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="nk-footer">
                    <div class="container-xl">
                        <div class="d-flex align-items-center flex-wrap justify-content-between mx-n3">
                            <div class="nk-footer-links px-3">
                                <ul class="nav nav-sm">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home' %}">{% translate "Home" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'pricing' %}">{% translate "Pricing" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'privacy' %}">{% translate "Privacy Policy" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contact' %}">{% translate "Contact" %}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nk-footer-copyright fs-6 px-3"> &copy;  All Rights Reserved to 
                                <a href="#">{% translate "Kamran" %}</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'dashboard/assets/js/bundle.js' %}?v1.0.0"></script>
    <script src="{% static  'dashboard/assets/js/scripts.js' %}?v1.0.0"></script>
    {% block custom_js %}
    {% endblock %}
</body>


</html>