{% extends 'dashboard/main.html' %}
{% load static %}
{% block meta_tags %}

{% endblock %}

{% block content %}


<div class="container-xl">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-page-head">
                <div class="nk-block-head-between">
                    <div class="nk-block-head-content">
                        <h2 class="display-6">Add Writing Style</h2>
                    </div>
                </div>
            </div><!-- .nk-page-head -->
            <div class="nk-block">

                <div class="card shadown-none">
                    <div class="card-body">
                        <form action="{% url 'edit_profile' %}" class="form" method="post"> {% csrf_token %}
                            <div class="row g-3 gx-gs">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <label for="style_name">Style Name</label>
                                            <input type="text" id="style_name" class="form-control ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                   
                                        <div class="form-control-wrap">
                                            <textarea name="" class="form-control " placeholder="Paste text here or use the 'Upload File' button to analyze a document" id="input_text" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="file ">
                                        <label for="input-file">
                                            <i class="p-1"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path
                                                        d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4s1.79-4 4-4h.71C7.37 7.69 9.48 6 12 6c3.04 0 5.5 2.46 5.5 5.5v.5H19c1.66 0 3 1.34 3 3s-1.34 3-3 3z">
                                                    </path>
                                                </svg></i>Upload File
                                        </label>
                                        <input id="input-file" class="btn btn-lg" type="file">
                                    </div>
                                </div>
                               

                                <div class="col-md-12">
                                    <button class="btn btn-primary">Start Training</button>
                                    </div>
                                </div>
                                

                            </div>
                        </form>
                    </div><!-- .card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}